<div id="flash-messages">
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <button type="button" class="float-end btn-close" data-bs-dismiss="alert" data-dismiss="alert" aria-label="Close"></button>
            {{ flashMessage|trans|raw|nl2br }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            <button type="button" class="float-end btn-close" data-bs-dismiss="alert" data-dismiss="alert" aria-label="Close"></button>
            {{ flashMessage|trans|raw|nl2br }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info">
            <button type="button" class="float-end btn-close" data-bs-dismiss="alert" data-dismiss="alert" aria-label="Close"></button>
            {{ flashMessage|trans|raw|nl2br }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            <button type="button" class="float-end btn-close" data-bs-dismiss="alert" data-dismiss="alert" aria-label="Close"></button>
            {{ flashMessage|trans|raw|nl2br }}
        </div>
    {% endfor %}
</div>