{% if getAllFlux(app.user, app.request).getTotalItemCount > 0 %}
	<div class='flux mt-4'>
		<h4>{{ 'Mes transactions :'|trans }}</h4>
		<h5>({{ getAllFlux(app.user, app.request).getTotalItemCount }})</h5>
		<ul class='list-group'>
			{% for flux in getAllFlux(app.user, app.request) %}
				<li class="list-group-item">{{ flux.parenttype|capitalize }} à {{ flux.destinataire }} {{ flux.montant|number_format(2) }}&euro; ({{ 'payée le'|trans }} {{ flux.createdAt|date('d-m-Y') }})</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}