<footer class="container clearfix footer">
	{# TODO : ajouter crédit et lien vers la solution de gestion de la monnaie locale complémentaire libre de droits #}
	<a href='http://www.kohinos.com' target='_blank' rel="noopener noreferrer">Kohinos</a>
	<span class='appversion'>
		<a href='https://www.gnu.org/licenses/agpl-3.0.fr.html' target='_blank' rel="noopener noreferrer" style='color:grey;'>(Licence AGPL v3)</a>
		<span> - v{{ shivas_app_version }}</span>
	</span>

	{# <div class='float-end'>
		<a href="{{ path('contact') }}">Nous contacter</a>
	</div> #}

</footer>