{% set allgroupes = getAllGroupes() %}
{# ON AFFICHE LES GROUPES LOCAUX UNIQUEMENT SI IL Y EN A PLUS D'UN #}
{% if allgroupes|length > 1 %}
	<div class="groupeslocaux card mb-2">
		<div class="card-header">
			<i class="fa fa-paperclip"></i> <span class='h4 ms-2'>{{ 'Groupes Locaux'|trans }}</span>
		</div>
		<div class="card-body">
			<div class="card-text">
				<p style="text-align:justify;">
					{% for groupe in allgroupes %}
						<a class='groupe' href='{{ path('show_groupe', {'slug': groupe.slug}) }}'>{{groupe.name}}</a>{% if not loop.last %}<span class='me-2 ms-2'>•</span>{% endif %}
					{% endfor %}
				</p>
			</div>
		</div>
	</div>
{% endif %}