<header class="container header">
	<nav class="menu navbar navbar-expand-md navbar-light bg-light bg-white my-2">
		<a class="navbar-brand" href="{{ url('index') }}">
			<img src="/images/logo.png" width="187" height="45" class="d-inline-block align-top" alt="{{ KOH_MLC_NAME|default('') }}">
		</a>

		{% block menu %}
			{% if app.request.attributes.get('_route') != 'installation' %}
				{% include '@kohinos/common/menu.html.twig' %}
			{% endif %}
		{% endblock menu %}
	</nav>
</header>