{% if app.user is null %}
	<a class='btn btn-primary w-100 mb-4' data-bs-toggle="modal" data-bs-target="#{{ modal_id }}" title='{{ 'Se connecter'|trans }}' href="{{path('fos_user_security_login')}}">{{ 'Se connecter'|trans }}</a>
{% endif %}