<!-- Modal -->
<div class="modal fade" id="confirmTransactionModal" tabindex="-1" role="dialog" aria-labelledby="confirmTransactionModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmTransactionModalTitle">{{ 'Vous allez effectuer une transaction'|trans }}</h5>
      </div>
      <div class="modal-body">
        <div class="confirmTransactionPrestataire" style="display:none;">
          <p>{{ 'Vous vous apprêtez à effectuer une transaction au prestataire'|trans }} <b><span class="nom_destinataire"></span></b> {{ 'd\'une valeur de'|trans }} <b><span class="montant_transaction"></span> e{{ KOH_MLC_SYMBOL|default('MLC') }}</b>.</p>
        </div>
        <div class="confirmTransactionAdherent" style="display:none;">
          <p>{{ 'Vous vous apprêtez à effectuer une transaction à l\'adhérent'|trans }} <b><span class="nom_destinataire"></span></b> {{ 'd\'une valeur de'|trans }} <b><span class="montant_transaction"></span> e{{ KOH_MLC_SYMBOL|default('MLC') }}</b>.</p>
        </div>
        <div class="confirmCotisation" style="display:none;">
          <p>{{ 'Vous vous apprêtez à cotiser.'|trans }}</p>
          <p> {{ 'Montant de votre cotisation :'|trans }} <b><span class="montant_transaction"></span> e{{ KOH_MLC_SYMBOL|default('MLC') }}</b></p>
          <p class='div_don'> {{ 'Montant de votre don :'|trans }} <b><span class="montant_don"></span> &euro;</b></p>
        </div>
        <p>{{ 'Voulez-vous continuer ?'|trans }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">{{ 'Annuler'|trans }}</button>
        <button type="button" class="btn btn-primary" id="confirmTransactionButton">{{ 'Confirmer'|trans }}</button>
      </div>
    </div>
  </div>
</div>
