{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container' style='max-width: 800px;'>
	{% include '@kohinos/block/breadcrumb.html.twig' with {'label' : 'Mon compte'|trans } %}
	<div id="accordion" class='text-center mb-5'>
		{% include '@kohinos/block/userinfos.html.twig' %}
		{% include '@kohinos/block/userpassword.html.twig' %}
	</div>
</div>
{% endblock %}

