{% set rubriques = getAllRubriques() %}
{% if rubriques == null or rubriques|length > 0 %}
    <div class="card mb-2">
        <div class="card-header">
            <i class="fa fa-flag"></i> <span class='h4 ms-2'>{{ 'Rubriques'|trans }}</span>
        </div>
        <ul class="list-group list-group-flush">
            {% for rubrique in rubriques %}
                {% if rubrique.prestataires|length > 0 %}
                    <li class="list-group-item d-flex justify-content-between align-items-center text-truncate">
                        <a class='rubrique text-truncate' href='{{ path('show_rubrique', {'slug': rubrique.slug}) }}' data-toggle="tooltip" data-placement="bottom" title="{{rubrique.name}}">
                            {% if rubrique.media is not null %}
                                {% thumbnail rubrique.media, 'preview' with {'alt': '', 'style': 'width: 30px; max-width: 30px'} %}
                                {{rubrique.name}}
                            {% else %}
                                <span style='margin-left:25px;'>{{rubrique.name}}</span>
                            {% endif %}
                        </a>
                        <span class="badge bg-primary badge-pill" data-toggle="tooltip" data-placement="bottom" title="{{rubrique.prestataires|length}}  {{ 'prestataires'|trans }}">{{rubrique.prestataires|length}}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}