<div class="stats card mb-2">
	<div class="card-header">
		<i class="fa fa-bars"></i> <span class='h4 ms-2'>{{ 'À ce jour'|trans }}</span>
	</div>
	<div class="card-body">
		<div class="card-text">
			<p>
				<i class="fas fa-user"> </i> {{ showMlcStats('user') }} {{ 'utilisateurs'|trans }}<br>
			</p>
			<p>
				<i class="fa fa-shopping-basket"> </i> {{ showMlcStats('prestataire') }} <a href="{{ path('liste_prestataire') }}" title="{{ 'Nombre de prestataires'|trans }}">{{'prestataires'|trans}}</a> {{'et'|trans}} {{ showMlcStats('partenaire') }} <a href="{{ path('liste_partenaire') }}" title="{{'Nombre de partenaires'|trans}}">{{ 'partenaires'|trans }}</a>
			</p>
			<p>
				<i class="fa fa-object-group"> </i> {{ showMlcStats('groupe') }} {{ 'groupes locaux'|trans }}
			</p>
			<p>
				<i class="fa fa-home"> </i> {{ showMlcStats('comptoir') }} <a href="{{ path('comptoirs_liste') }}" title="{{ 'Nombre de comptoirs'|trans }}">{{ 'comptoirs'|trans }}</a>
			</p>
			{# <p>
				<i class="fa fa-exchange-alt"> </i> {{ getTotalMonnaieEmise() }} {{ KOH_MLC_NAME_SMALL|default('') }} émises
			</p> #}
			<p>
				<i class="fa fa-exchange-alt"> </i> {{ getStatsMonnaie('mlc_nantie') }} {{ KOH_MLC_NAME_SMALL|default('') }} papier nantie
			</p>
			<p>
				<i class="fa fa-exchange-alt"> </i> {{ getStatsMonnaie('emlc') }} {{ KOH_MLC_NAME_SMALL|default('') }} numérique nantie
			</p>
			<p>
				<i class="fa fa-exchange-alt"> </i> {{ (getStatsMonnaie('emlc') + getStatsMonnaie('mlc_nantie')) }} {{ KOH_MLC_NAME_SMALL|default('') }} en circulation
			</p>
			{# @TODO (pas prioritaire) : Statistiques avancées :
			<p>
				<i class="fa fa-check"> </i> 350304 {{ KOH_MLC_NAME_SMALL|default('') }} reconverties
			</p>
			<p>
				<i class="fa fa-check"> </i> 174778 {{ KOH_MLC_NAME_SMALL|default('') }} en circulation
			</p>
			<p>
				<i class="fa fa-check"> </i> 192923 d'échanges numériques
			</p> #}
		</div>
	</div>
</div>