{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
    <div class='container homepage' style='max-width: 800px;'>
		<div class='row mt-3'>
			<div class='col-12 text-center'>
				{% block colonne_centre %}
					{% if app.user is null %}
						{% set modal_id = 'mlcloginmodal' %}
						{% set modal_title = 'Se connecter'|trans %}
						{% set modal_content %}
							{% include '@kohinos/common/login.html.twig' %}
						{% endset %}
						{% include '@kohinos/block/modal.html.twig' %}
						<a class='btn btn-primary w-100 mb-4' data-bs-toggle="modal" data-bs-target="#{{ modal_id }}" title='{{ 'Se connecter'|trans }}' href="{{path('fos_user_security_login')}}">{{ 'Se connecter'|trans }}</a>
					{% endif %}
					{% include '@kohinos/block/useradmin.html.twig' %}
				{% endblock colonne_centre %}
			</div>
		</div>
	</div>
{% endblock %}