{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
    <div class='container homepage' style='max-width: 800px;'>
		<div class='row mt-3'>
			<div class='col-12 text-center'>
				{% block colonne_centre %}
					<div class="card border-danger mb-3" style="max-width: 20rem;margin:0 auto;">
					  <div class="card-body">
					    <strong>Votre cotisation n'est pas à jour !</strong>
					    <p>Vous ne pouvez plus utiliser votre compte !</p>
					  </div>
					</div>
					</div>
				{% endblock colonne_centre %}
			</div>
		</div>
	</div>
{% endblock %}