{% extends '@kohinos/common/layout.html.twig' %}

{% block meta %}
	{{ parent() }}
    {% if KOH_MLC_URL|default('') != '' %}
        <link rel="canonical" href="{{ KOH_MLC_URL }}"/>
        <link rel="preconnect" href="{{ KOH_MLC_URL }}"/>
    {% endif %}
{% endblock meta %}

{% block content %}
    <div class='container homepage'>
    	{# LOGIN MODALE#}
    	{% set modal_id = 'mlcloginmodal' %}
		{% set modal_title = 'Se connecter'|trans %}
		{% set modal_content %}
			{% include '@kohinos/common/login.html.twig' %}
		{% endset %}
		{% include '@kohinos/block/modal.html.twig' with {'btn_primary' : null, 'btn_secondary' : null} %}

		<div class='row mt-3'>
		 	<div class='d-none d-md-block col-12 order-3 order-md-1 col-md-3 order-sm-3 col-sm-12 col-lg-3'>
		 		{% block colonne_gauche %}
					{% include '@kohinos/common/stats.html.twig' %}
					{% include '@kohinos/common/groupes.html.twig' %}
					{% include '@kohinos/common/rubriques.html.twig' %}
				{% endblock colonne_gauche %}
			</div>
			<div class='col-12 order-1 order-md-2 col-md-9 order-sm-1 col-sm-12 col-lg-6 text-center'>
				{% block colonne_centre %}
					<div class='d-block d-sm-block d-md-block d-lg-none'>
						{% include '@kohinos/common/loginbutton.html.twig' %}
					</div>
					{% include '@kohinos/block/useradmin.html.twig' %}
				{% endblock colonne_centre %}
			</div>
			<div class='d-none d-md-block  col-12 order-2 order-md-3 col-md-9 order-sm-2 col-sm-12 col-lg-3'>
				{% block colonne_droite %}
					<div class='d-none d-sm-none d-md-none d-lg-block'>
						{% include '@kohinos/common/loginbutton.html.twig' %}
					</div>
					{% include '@kohinos/common/news.html.twig' %}
				{% endblock colonne_droite %}
			</div>
		</div>
	</div>
	
	{# LOGIN ADHESION HELLOASSO #}
	{% set modal_id = 'mlcadhesionmodal' %}
	{% set modal_title = 'Payer votre cotisation sur Helloasso'|trans %}
	{% set modal_content %}
		<p>Bravo, vous venez de créer votre compte {{ KOH_MLC_NAME|default('') }}.</p>
		<p>Pour pouvoir utiliser celui-ci, vous devez cotiser via HelloAsso sur ce lien :</p><br/>
		<p><a href='{{KOH_HELLOASSO_URL_COTISATION_ADHERENT}}' target='_blank'>COTISER VIA HELLOASSO</a></p>
	{% endset %}
	{% include '@kohinos/block/modal.html.twig' with {'btn_primary' : null, 'btn_secondary' : null} %}

{% endblock %}

{% block js %}
{% include '@kohinos/presta/block/cartejs.html.twig' %}
{% endblock %}
