{% extends '@kohinos/common/layout.html.twig' %}

{% form_theme form _self %}

{% block menu %}
{% endblock menu %}

{% block content %}
	<div class='container homepage'>
		<div class="card mx-auto mt-5" style="max-width: 600px;">
			<div class="card-header">{{ 'CONFIGURATION DU KOHINOS'|trans }}</div>
			<div class="card-body">
				<div class="card-text">
					<em>Toutes les informations demandées ci-dessous sont obligatoires mais sont modifiables ensuite dans l'interface d'administration...</em><br/><br/>
					{{ form_start(form)}}
						{{ form_row(form.config) }}
						{{ form_row(form.iban) }}
						{{ form_row(form.website) }}
						<hr class='my-4 bg-primary'/>
						{{ form_row(form.groupe) }}
						<hr class='my-4 bg-primary'/>
						{{ form_row(form.comptoir) }}
						<hr class='my-4 bg-primary'/>
						{{ form_row(form.siege) }}
						<hr class='my-4 bg-primary'/>
						{{ form_row(form.user) }}
						<p><em>
							{{ "A la suite de l'installation du système, un prestataire (un peu particulier : non public, non affiché sur la carte) est crée, avec comme nom 'Monnaie locale', permettant de recevoir les adhésions/cotisations et frais de reconversions."|trans }}
						</em></p>
						<div class='text-center'>{{ form_row(form.save) }}</div>
					{{form_end(form)}}
		 		</div>
		 	</div>
		</div>
	</div>
{% endblock %}