{% set title = page.name %}
{% set description = page.metadescription %}
{% set keywords = page.metakeywords %}
{% extends '@kohinos/common/layout.html.twig' %}

{% if page.css %}
	{% block css %}
		{{parent()}}
		{{ page.css|raw }}
	{% endblock css %}
{% endif %}

{% if page.js %}
	{% block js %}
		{{parent()}}
		{{ page.js|raw }}
	{% endblock js %}
{% endif %}

{% block content %}
<div class='container'>
	<h4>{{page.title}}</h4>
	<p class="paragraf">
		{{page.content|raw}}
	</p>
</div>
{% endblock %}
