{% include '@kohinos/block/soldes_siege.html.twig' %}
{% include '@kohinos/siege/block/solde_edit.html.twig' %}
{% include '@kohinos/block/operations.html.twig' with {'title' : 'Compte billets non nantis', 'operations': getLastOperations(app.request, app.user, constant('App\\Enum\\CurrencyEnum::CURRENCY_MLC'))} %}
{% include '@kohinos/block/operations.html.twig' with {'title' : 'Compte e'~KOH_MLC_SYMBOL|default('MLC')~' nantie', 'operations': getLastOperations(app.request, app.user, constant('App\\Enum\\CurrencyEnum::CURRENCY_EMLC'))} %}
{# {% include '@kohinos/block/operations.html.twig' with {'title' : 'Compte fond de garanti', 'operations': getLastOperations(app.request, app.user, constant('App\\Enum\\CurrencyEnum::CURRENCY_EURO'))} %} #}
{% include '@kohinos/block/operations.html.twig' with {'title' : 'Compte '~KOH_MLC_SYMBOL|default('MLC')~' nantie', 'operations': getLastOperations(app.request, app.user, constant('App\\Enum\\CurrencyEnum::CURRENCY_MLC_NANTIE'))} %}
{% include '@kohinos/siege/block/transfert_siegegroupe.html.twig' %}
{% include '@kohinos/siege/block/transfert_groupesiege.html.twig' %}