{% set esoldelabel = 'Solde e-mlc'|trans %}
{% include '@kohinos/block/solde.html.twig' with {'compte': getCurrentPrestataire().emlcAccount.balance, 'soldelabel': esoldelabel, 'currency' : 'e'~(KOH_MLC_SYMBOL|default(''))} %}
{% if getCurrentPrestataire().mlc == false %}
	{% include '@kohinos/presta/block/infos.html.twig' %}
{% endif %}
{# {% include '@kohinos/block/transactions.html.twig' %} #}
{% include '@kohinos/block/operations.html.twig' %}
{% if getCurrentPrestataire().mlc == true %}
	{% include '@kohinos/block/operations.html.twig' with {'title' : 'Compte de fonctionnement €', 'operations': getLastOperations(app.request, app.user, constant('App\\Enum\\CurrencyEnum::CURRENCY_EURO'))} %}
{% elseif getCurrentPrestataire().solidoume == false %}
	{% include '@kohinos/block/cotisations.html.twig' %}
	{% set groupeprestataires = getAllGroupePrestataires() %}
	{% if groupeprestataires|length > 0 %}
		{% include '@kohinos/groupepresta/block/inscription.html.twig' %}
	{% endif %}
{% endif %}
{% if getCurrentPrestataire().solidoume == false %}
	{% if KOH_USE_PAYZEN == 'true' or KOH_USE_HELLOASSO == 'true' %}
		{% include '@kohinos/presta/block/achat_monnaie.html.twig' %}
	{% else %}
		{% include '@kohinos/presta/block/demande_achat_monnaie.html.twig' %}
	{% endif %}
{% endif %}
{% include '@kohinos/presta/block/transaction_presta.html.twig' %}
{% include '@kohinos/presta/block/transaction_adherent.html.twig' %}
{% if getCurrentPrestataire().mlc == false and getCurrentPrestataire().solidoume == false and getCurrentPrestataire().emlcAccount.balance > 0 %}
	{% include '@kohinos/presta/block/reconversion.html.twig' %}
{% endif %}