{% if getCurrentComptoir() != null %}
	{% set compte = getCurrentComptoir().mlcAccount.balance %}
	{% set soldelabel = 'Solde du comptoir "'|trans ~ getCurrentComptoir() ~ '"' %}
	{% include '@kohinos/block/solde.html.twig' with {'compte': compte, 'soldelabel': soldelabel, 'currency' : KOH_MLC_SYMBOL|default('')} %}
	{% include '@kohinos/comptoir/block/infos.html.twig' %}
	{# {% include '@kohinos/block/transactions.html.twig' %} #}
	{% include '@kohinos/block/operations.html.twig' %}
	{% include '@kohinos/comptoir/block/vente_adherent.html.twig' %}
	{% include '@kohinos/comptoir/block/vente_prestataire.html.twig' %}
	{% include '@kohinos/comptoir/block/retrait_prestataire.html.twig' %}
	{% include '@kohinos/comptoir/block/retrait_adherent.html.twig' %}
	{% include '@kohinos/comptoir/block/reconversion.html.twig' %}
	{% include '@kohinos/comptoir/block/reconversion_adherent.html.twig' %}
	{% include '@kohinos/comptoir/block/vente_emlc_adherent.html.twig' %}
	{% include '@kohinos/comptoir/block/vente_emlc_prestataire.html.twig' %}
{% endif %}