{% if getCurrentGroupe() != null %}
	{% set compte = getCurrentGroupe().mlcAccount.balance %}
	{% set soldelabel = 'Solde du groupe'|trans %}
	{% include '@kohinos/block/solde.html.twig' with {'compte': compte, 'soldelabel': soldelabel, 'currency' : KOH_MLC_SYMBOL|default('')} %}
{% endif %}
{% include '@kohinos/groupe/block/infos.html.twig' %}
{# {% include '@kohinos/block/transactions.html.twig' %} #}
{% include '@kohinos/block/operations.html.twig' %}
{% include '@kohinos/groupe/block/transaction_comptoir.html.twig' %}
{% include '@kohinos/groupe/block/retourgroupe.html.twig' %}