{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}
{% set currency = field_description.options.currency|default('mlc') %}
{% block field%}
{% apply spaceless %}
    <span>{{ object.getAccountWithCurrency(currency).balance }}</span>
{% endapply %}
{% endblock %}