{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}
{% block list_header %}
{% if admin.total is defined and admin.total > 0 %}
	<div class="pull-left" style="margin: 10px 5px;">
	    <label for="{{ admin.uniqid }}_sum_of_orders" class="control-label">{{ admin.totalLabel is defined ? admin.totalLabel : (('Total'|trans))}} : </label>
	    <label class="control-label">{{ admin.total }}</label>
	</div>
{% endif %}
{% endblock %}