{#
    Statistiques : 
        - Super Admin :
            tout ?
        - Admin siège :
            circulation monnaie papier
            circulation monnaie numérique
        - Gestionnaire de Groupe local :
            circulation monnaie papier entre siege / groupe
            nombre d'adherent / prestataires
            répartition par comptoir
        - Contact de Groupe local :
            nombre d'adherent / prestataires
        - Comptoir :
            circulation monnaie papier
            circulation monnaie numérique
        - Trésorier / Controleurs :
            tout ?
        - Rédacteurs :
            rien
#}
{% if app.user %}
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_TRESORIER') or is_granted('ROLE_CONTROLEUR') %}
        {# <div class='row'>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>Transactions par jour</p>
                <div>
                    <span data-url="{{path('getChartHtml', {
                    'type': 'fluxbytype',
                    'title': 'Flux par type',
                    'params': {
                        'byVolume': false,
                        'groupBy': 'day',
                        'options': [
                            {'label': 'Montant des transactions', 'byVolume': false, 'color': 'red', 'filter': {'parenttype': 'transaction', 'groupBy': 'day', 'start': '-1 year'}},
                            {'label': 'Nombre de transactions', 'byVolume': true, 'color': 'orange', 'filter': {'parenttype': 'transaction', 'groupBy': 'day', 'start': '-1 year'}}
                        ]
                    }} )}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>Nombre de nouvels adhérents / prestataires</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'nbuser', 'title': 'Nombre de nouvels adhérents / prestataires', 'params': [] })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
        </div> #}
        <div class='row'>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>Montant des flux par type</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'fluxbytype', 'title': 'Flux par type', 'params': {'byVolume': false, 'byTypes': 'all'} })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>Volume des flux par type</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'fluxbytype', 'title': 'Flux par type', 'params': {'byVolume': true, 'byTypes': 'all'} })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>MLC par groupe</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'groupeMlc', 'title': 'MLC par groupe', 'params': [] })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>MLC par comptoir</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'comptoirMlc', 'title': 'MLC par comptoir', 'params': [] })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>Montant des transactions</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'nombretransac', 'title': 'Montant des transactions', 'params': [] })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>Nombre de transactions</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'volumetransac', 'title': 'Nombre de transactions', 'params': [] })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
        </div>
    {% elseif is_granted('ROLE_ADMIN_SIEGE') %} 
        <div class='row'>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>MLC par groupe</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'groupeMlc', 'title': 'MLC par groupe', 'params': [] })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>MLC par comptoir</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'comptoirMlc', 'title': 'MLC par comptoir', 'params': [] })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>Nombre de nouvels adhérents / prestataires</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'nbuser', 'title': 'Nombre de nouvels adhérents / prestataires', 'params': [] })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>Flux par type</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'fluxbytype', 'title': 'Flux par type', 'params': {'byTypes': 'all'} })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>Montant des transactions</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'nombretransac', 'title': 'Montant des transactions', 'params': [] })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>Nombre de transactions</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'volumetransac', 'title': 'Nombre de transactions', 'params': [] })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
        </div>
    {% elseif is_granted('ROLE_GESTION_GROUPE') %}
        <div class='row'>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>Nombre de nouvels adhérents / prestataires</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'nbuser', 'title': 'Nombre de nouvels adhérents / prestataires', 'params': [] })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>MLC par comptoir</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'comptoirMlc', 'title': 'MLC par comptoir', 'params': [] })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
        </div>
    {% elseif is_granted('ROLE_CONTACT') %}
        <div class='row'>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>Nombre de nouvels adhérents / prestataires</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'nbuser', 'title': 'Nombre de nouvels adhérents / prestataires', 'params': [] })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
        </div>
    {% elseif is_granted('ROLE_COMPTOIR') %}
        <div class='row'>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>Nombre de nouvels adhérents / prestataires</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'nbuser', 'title': 'Nombre de nouvels adhérents / prestataires', 'params': [] })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
            <div class='col-xs-12 col-md-6'>
                <p class='text-center'>Achat/Vente/Retrait par mois</p>
                <div>
                    <span data-url="{{path('getChartHtml', {'type': 'fluxbytype', 'title': 'Flux par type', 'params': {'byTypes': ['achat', 'vente', 'vente_emlc', 'retrait']} })}}" class="loadDynamicChart">&nbsp;</span>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}