{% extends sonata_block.templates.block_base %}
{% block block %}
    {% if not is_granted('ROLE_REDACTEUR') %}
	<div class="box">
        <div class="box-header text-center">
            <h3 class="box-title graphStatsButton btn btn-primary" data-url="{{ path('loadChartContent') }}" data-target=".graphStatsContent">{{ 'Voir les graphiques'|trans }}</h3>
        </div>
        
        <div class="box-body graphStatsContent">
            {# Content of chart loaded dynamically #}
        </div>
    </div>
    {% endif %}
{% endblock %}