{% set idcard = idcard|default(random(50000)) %}
{% set collapse = collapse is defined ? collapse : 'collapse' %}
<div class="blockcollapse card mb-3">
	<div class="card-header" onmouseover="$(this).addClass('border-primary');" onmouseout="$(this).removeClass('border-primary');" data-bs-toggle="{% block blocktoggle %}collapse{% endblock blocktoggle %}" data-bs-target="#collapse{{idcard}}" data-toggle="{{ block('blocktoggle') }}" data-target="#collapse{{idcard}}" aria-expanded="false" aria-controls="collapse{{idcard}}">{% block blocktitle %}{% endblock blocktitle %}</div>
	<div class="card-body {{collapse}}" id="collapse{{idcard}}">
		{% block blocksubtitle %}<h4 class="card-title"></h4>{% endblock blocksubtitle %}
		<div class="card-text">
			{% block blockcontent %}
			{% endblock blockcontent %}
		</div>
	</div>
</div>
