<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
    {% if label3 is defined and label3 is not empty and url3 is defined and url3 is not empty %}
    	<li class="breadcrumb-item"><a href="{{ url3 }}">{{ label3 }}</a></li>
    {% endif %}
    {% if label2 is defined and label2 is not empty and url2 is defined and url2 is not empty %}
    	<li class="breadcrumb-item"><a href="{{ url2 }}">{{ label2 }}</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">{{ label }}</li>
  </ol>
</nav>