{% extends sonata_block.templates.block_base %}
{% block block %}
	<div class="box">
        <div class="box-header text-center">
            <h3 class="box-title">{{ 'ADMINISTRATION'|trans }}</h3>
        </div>
        
        <div class="box-body">
            {% include '@kohinos/block/useradmin.html.twig' with {'routeName': 'sonata_admin_dashboard'}%}
        </div>
    </div>
{% endblock %}