{% extends '@kohinos/block/block_collapse.html.twig' %}

{% block blocktitle %}
	Transaction
{% endblock blocktitle %}
{% block blocksubtitle %}
{% endblock blocksubtitle %}
{% block blockcontent %}
	{{ form_start(form) }}
	    {% if form.expediteur is defined %}
	    	{{ form_row(form.expediteur) }}
		{% endif %}
	    {% if form.destinataire is defined %}
	    	{{ form_row(form.destinataire) }}
	    {% endif %}
	    {% if form.montant is defined %}
	    	{{ form_row(form.montant) }}
	    {% endif %}
	    {% if form.moyen is defined %}
	        {{ form_row(form.moyen) }}
	    {% endif %}
	    {% if form.reference is defined %}
	    	{{ form_row(form.reference) }}
	    {% endif %}
	    {% if form.save is defined %}
	    	{{ form_row(form.save) }}
	    {% endif %}
	{{ form_end(form) }}
{% endblock blockcontent %}
