{% set operations = operations|default(getLastOperations(app.request, app.user, constant('App\\Enum\\CurrencyEnum::CURRENCY_EMLC'))) %}
{% set title = title|default('Dernières opérations'|trans) %}
{% extends '@kohinos/block/block_collapse.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-list-alt me-4"></i> {{ title }}
{% endblock blocktitle %}
{% block blocksubtitle %}
{% endblock blocksubtitle %}
{% block blockcontent %}
    {% if operations|length > 0 %}
        <div class="table-responsive">
      		<table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Operation</th>
                    <th scope="col">Montant</th>
                  </tr>
                </thead>
                <tbody>
      			{% for operation in operations %}
                    <tr>
                        <td><span data-toggle="tooltip" data-placement="bottom" title="{{ operation.createdAt|date('d/m/Y H:i') }}">{{ operation.createdAt|date('d/m/Y') }}</span></td>
                        <td>{{ ((isCurrentAccountable(app.user, operation.flux.expediteur) ? 'exp' : 'des')~'_'~operation.flux.parenttype)|trans({}, 'flux') }}
                        <div id='operationInfo{{loop.index}}' class='collapse operationInfo{{loop.index}}'>
                            Référence : {{ operation.flux.reference }}<br/>
                            {% if operation.flux.moyen == constant('App\\Enum\\MoyenEnum::MOYEN_HELLOASSO') %}
                                {% set urlTicket = getPaymentReceiptUrlFromFlux(operation.flux) %}
                                {% if urlTicket is not empty %}
                                    <a href='{{urlTicket}}' target='_blank'>Ticket CB</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        </td>
                        <td>
                            <span style='cursor:pointer;' data-bs-toggle="collapse" data-bs-target=".operationInfo{{loop.index}}" data-toggle="collapse" data-target=".operationInfo{{loop.index}}">
                                {% if not isCurrentAccountable(app.user, operation.flux.expediteur)  %}
                                    {% if operation.flux.expediteur is instanceof("App\\Entity\\Prestataire") and operation.flux.expediteur.isSolidoume == true %}
                                        {{ getSolidoumeParam('name')|default('Sécurité Sociale Alimentaire') }}
                                    {% else %}
                                        {{ operation.flux.expediteur }}
                                    {% endif %}
                                {% elseif not isCurrentAccountable(app.user, operation.flux.destinataire)  %}
                                    {% if operation.flux.destinataire is instanceof("App\\Entity\\Prestataire") and operation.flux.destinataire.isSolidoume == true %}
                                        {{ getSolidoumeParam('name')|default('Sécurité Sociale Alimentaire') }}
                                    {% else %}
                                        {{ operation.flux.destinataire }}
                                    {% endif %}
                                {% endif %}
                                <i class="fa fa-caret-down ms-2" aria-hidden="true"></i>
                            </span>
                            <div class='collapse operationInfo{{loop.index}}'>
                                Moyen : {{ operation.flux.moyen|trans }}
                            </div>
                        </td>
                        <td class='text-right'><span class='font-weight-bold {{ (operation.montant < 0)? '':'text-primary' }}'>{{ (operation.montant < 0)? '- ':'+ ' }} {{ operation.montant|abs|number_format(2) }} {{ getCurrencyName(operation.currency) }}</span></td>
                    </tr>
      			{% endfor %}
      		  </tbody>
      		</table>
        </div>
    {% else %}
        <div class='my-2 mx-2'>
            {{ 'Aucunes opérations pour le moment ! '|trans }}
        </div>
    {% endif %}
    {% if operations|length > 0 %}
        <a href='{{ path('show_operations', {'currency' : operations[0].currency}) }}' type="button" class="btn btn-primary">
            <i class="fa fa-share-square-o" aria-hidden="true"></i>
            {{ 'Voir toutes les opérations'|trans }}
        </a>
		<br/>
		{# <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuLink">
                <i class="fa fa-share-square-o" aria-hidden="true"></i>
                Exporter
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{ path('exportUserOperation', {'format' : 'json'}) }}">
                    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    JSON
                </a>
                <a class="dropdown-item" href="{{ path('exportUserOperation', {'format' : 'xml'}) }}">
                    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    XML
                </a>
                <a class="dropdown-item" href="{{ path('exportUserOperation', {'format' : 'csv'}) }}">
                    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    CSV
                </a>
                <a class="dropdown-item" href="{{ path('exportUserOperation', {'format' : 'xls'}) }}">
                    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    XLS
                </a>
			</div>
        </div> #}
	{% endif %}
{% endblock blockcontent %}
