{% set siege = getSiege() %}
{% set compteNanti = siege.mlcNantieAccount.balance %}
{% set ecompteNanti = siege.emlcAccount.balance %}
{% include '@kohinos/block/solde.html.twig' with {'compte': siege.mlcAccount.balance, 'soldelabel': 'Billets au siège'|trans, 'currency': KOH_MLC_SYMBOL|default('')} %}
{% include '@kohinos/block/solde.html.twig' with {'compte': compteNanti, 'soldelabel': 'Billets nantis'|trans, 'currency': KOH_MLC_SYMBOL|default('') } %}
{% include '@kohinos/block/solde.html.twig' with {'compte': ecompteNanti, 'soldelabel': 'Monnaie numérique distribuée'|trans, 'currency': 'e'~(KOH_MLC_SYMBOL|default('')) } %}
{% include '@kohinos/block/solde.html.twig' with {'compte': compteNanti + ecompteNanti, 'soldelabel': 'Monnaie nantie'|trans, 'currency': KOH_MLC_SYMBOL|default('') } %}