{% set compte = compte|default('[ERREUR] !') %}
{% set soldelabel = soldelabel|default('Solde'|trans) %}
{% set icon = icon|default('fa-money'|trans) %}
{% set currency = currency|default(''|trans) %}
<div class="card mb-3 blocksolde">
	<div class="card-body p-2"><i class="fa {{icon}} ms-2 me-4"></i> {{soldelabel}} : <b>{{compte}} {{currency}}</b></div>
</div>

<!-- small box -->
{# <div class="small-box blue">
    <div class="inner">
        <h3>{{compte}}</h3>
        <p>
            {{soldelabel}}
        </p>
    </div>
    <div class="icon">
        <i class="fa {{ icon }}"></i>
    </div>
    <a href="#" class="small-box-footer">
        {{ 'stats_view_more'|trans({}, 'SonataAdminBundle') }} <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    </a>
</div> #}