{% set idcard = 'userpassword' %}
{% extends '@kohinos/block/block_collapse.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-lock me-4"></i> {{ 'Changer votre mot de passe'|trans }}
{% endblock blocktitle %}
{% block blocksubtitle %}
{% endblock blocksubtitle %}
{% block blockcontent %}
	{% set form = getUserPasswordForm(app.user) %}
	{{form_start(form)}}
		{{ form_row(form.current_password) }}
		{{ form_row(form.plainPassword) }}
	<input type="submit" id="_submituserpassword" name="_submituserpassword" value="{{ 'Valider'|trans }}" />
	{{form_end(form)}}
{% endblock blockcontent %}