{% include '@kohinos/block/demo_shortcut.html.twig' %}

{# ACTIONS PRINCIPALES POUR CHAQUE UTILISATEUR CONNECTE #}
<div id="accordion">
	{% if not app.request.session.has('_choixGroup') %}

		{# 
		// @TODO : Ajouter des raccourcis en fonction des droits de l'utilisateur : 
			- ajout d'un adhérent (avec reception de la cotisation en comptoir par exemple)
			- ajout d'un prestataire (avec reception de la cotisation en comptoir par exemple)
		{% if app.user and is_granted('ROLE_ADMIN_ADHERENT_GERER_CREATE') %}
			<a href='{{ path('adherent_create') }}' class='btn btn-secondary'>Créer un nouvel adhérent</a>
		{% endif %} #}

		{% if app.user and is_granted('ROLE_ADMIN_SIEGE') %}

			{% include '@kohinos/block/admin_siege.html.twig' %}

		{# Rien à ajouter pour un rédacteur #}
		{# {% elseif app.user and is_granted('ROLE_REDACTEUR') %} #}

		{% elseif app.user and is_granted('ROLE_TRESORIER') or is_granted('ROLE_CONTROLEUR') %}

			{% include '@kohinos/block/soldes_siege.html.twig' %}
			{# {% include '@kohinos/block/soldegroupes.html.twig' %} #}

		{% elseif app.user and is_granted('ROLE_GESTION_GROUPE') %}

			{% include '@kohinos/block/admin_groupe.html.twig' %}
			
		{% elseif app.user and is_granted('ROLE_COMPTOIR') %}

			{% include '@kohinos/block/admin_comptoir.html.twig' %}

		{% elseif app.user and is_granted('ROLE_CONTACT') %}

			{% include '@kohinos/groupe/block/infos.html.twig' %}

		{% elseif app.user and is_granted('ROLE_SUPER_ADMIN') %}

			{% include '@kohinos/block/soldes_siege.html.twig' %}

		{% elseif app.user and is_granted('ROLE_PRESTATAIRE') and getCurrentPrestataire() != null %}

			{% include '@kohinos/block/admin_prestataire.html.twig' %}

		{% elseif app.user and is_granted('ROLE_CAISSIER') and getCurrentPrestataire() != null %}

			{% include '@kohinos/block/transactions.html.twig' with {'title': 'Transactions'} %}

		{% elseif app.user and is_granted('ROLE_ADHERENT') and app.user.adherent %}

			{% include '@kohinos/block/admin_adherent.html.twig' %}

		{% else %}
			{# User not loggued #}
		{% endif %}

		{# Valider les demandes d'achat de monnaie si on a le droit #}
		{% if app.user and app.user.canValidateAchat and (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_TRESORIER') or is_granted('ROLE_ADMIN_SIEGE')) %}
			<div class="card mb-3 blocksolde">
				{% set nbDemandes = getNbDemandeAchat() %}
				{% if nbDemandes[0] > 0 and nbDemandes[1] > 0 %}
					<div class="card-body p-2"><i class="fa fa-check ms-2 me-4"></i><span class="text-danger ms-2">Demandes d'achat à valider</span> : 
						<span class='ms-2 me-2'>Prestataire : <b>{{nbDemandes[0]}}</b></span>
						<span class='ms-2 me-2'>Adhérent : <b>{{nbDemandes[1]}}</b></span>
						<span class='ms-2 me-2'><a href="{{ path('demande_achat_monnaie_list') }}" class="btn btn-primary btn-xs">Valider les demandes</a></span>
					</div>
				{% endif %}
			</div>
		{% endif %}

		{# Affichage de la carte des prestataires pour les adhérents #}
		{% if KOH_USE_WORDPRESS is defined and KOH_USE_WORDPRESS == 'false' and ((app.user and is_granted('ROLE_ADHERENT')) or not app.user) %}
			<div class='d-none d-md-block'>
				{% include '@kohinos/presta/block/carte.html.twig' with {'title': 'Situer les Prestataires'|trans}%}
			</div>
		{% endif %}
		{% if app.user and is_granted('ROLE_ADMIN') %}
			<a href='http://wiki.kohinos.net/doku.php?id=doc:doc' target='_blank' rel="noopener noreferrer" class='ms-2 text-center'><i class="fa fa-book me-2" aria-hidden="true"></i> Documentation utilisateur</a>
		{% endif %}
	{% endif %}
</div>
