{% set collapse = 'show' %}
{% extends '@kohinos/block/block_collapse.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-user me-4"></i> {{ 'Compte utilisateur'|trans }}
{% endblock blocktitle %}
{% block blocksubtitle %}
{% endblock blocksubtitle %}
{% block blockcontent %}
	{% set form = getUserInfosForm(app.user) %}
	{{form_start(form)}}
		{{ form_row(form.email) }}
		{{ form_row(form.firstname) }}
		{{ form_row(form.lastname) }}
		{{ form_row(form.alertemailflux) }}
	<input type="submit" id="_submituserinfos" name="_submituserinfos" value="{{ 'Valider'|trans }}" />
	{{form_end(form)}}
{% endblock blockcontent %}