{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field%}
    {% if object.media is defined %}
    	<a href="{% path object.media, 'reference' %}" target="_blank">{% path object.media, 'reference' %}</a>
    {% endif %}
{% endblock %}