{% extends '@kohinos/block/block_collapse.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-shopping-basket me-4"></i> {{'Achat de monnaie locale'|trans }}
{% endblock blocktitle %}
{% block blockcontent %}
	{# @TODO : ajouter un KOH_BLOCK_ON_INVALID_COTISATION #}
	{# Il est possible d'empêcher l'utilisation du compte s'il n'y a pas de cotisation valide! #}
	{# {% if false == isCotisationValid(app.user) %}
		<div class='text-danger mb-3'>{{ 'Si vous souhaitez utiliser les fonctionnalités de votre compte, vous devez avoir une cotisation à jour !'|trans }}</div>
	{% else %} #}
		{% set form = getAchatMonnaiePrestataireForm(app.user) %}

		{{form_start(form)}}
			{{ form_errors(form) }}

			{{ form_row(form.montantradio, {attr: {class: 'custom-control custom-radio custom-control-inline kohinos-montant-radio'} }) }}
			{{ form_row(form.montant) }}

			<br/>
			<p><b>{{ 'Montant choisi'|trans }} : <span class="achat_monnaie_montant_choisi">{{ form.montantradio.vars.value }} €</span></b></p>
			<hr/>
			{% if form.don is defined %}
	    		{{ form_row(form.don, {row_attr:{style: 'max-width: 200px;margin: 0 auto;'}}) }}
	    		<hr/>
	    	{% endif %}
			<p><b>{{ 'TOTAL A PAYER'|trans }} : <span class="achat_monnaie_montant_total">{{ form.montantradio.vars.value }} €</span></b></p>

			{% if form.save is defined %}
	    		{{ form_widget(form.save)  }}
	    	{% endif %}
			{% if form.saveHelloAsso is defined %}
	    		{{ form_widget(form.saveHelloAsso)  }}
	    	{% endif %}
	    	{{ form_widget(form.payOther, {attr: {class: 'btn-secondary'}}) }}

		{{form_end(form)}}
	{# {% endif %} #}
{% endblock blockcontent %}
