{% extends '@kohinos/block/block_collapse.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-user-tie me-4"></i> {{'Professionnel'|trans}}
{% endblock blocktitle %}
{% block blocksubtitle %}
{% endblock blocksubtitle %}
{% block blockcontent %}
	{% set form = getPrestataireInfosForm(app.user) %}
	{{form_start(form)}}
		{{ form_row(form.raison) }}
		{{ form_row(form.statut) }}
		{% if getCurrentPrestataire().rubriques|length > 0%}
			<div class="form-group">
				<label>Rubriques :</label>
				{% for rubrique in getCurrentPrestataire().rubriques %}
					<input disabled="disabled" class='form-control' value='{{rubrique.name}}' />
				{% endfor %}
			</div>
		{% endif %}
		{{ form_row(form.siret) }}
		{{ form_row(form.iban) }}
		{{ form_row(form.responsable) }}
		{{ form_row(form.metier) }}
		{{ form_row(form.horaires) }}
		{{ form_row(form.web) }}
		<hr/>
		{{ form_row(form.media) }}
		{{ form_row(form.description) }}
		<hr/>
		<h3>Adresses</h3>
		<div class="geolocs" data-prototype="<div class='card p-2 mb-2 border-primary'>{{ form_widget(form.geolocs.vars.prototype)|e('html_attr') }}</div>">
			{% for geoloc in form.geolocs %}
				<div class='card p-2 mb-2 border-primary'>
					{{ form_row(geoloc) }}
				</div>
			{% endfor %}
		</div>
		<hr/>
		{{ form_row(form.newcaissiers) }}
		<hr/>
		{{ form_row(form.acceptemlc) }}
		{{ form_row(form.save) }}
	{{form_end(form)}}
{% endblock blockcontent %}