{% extends '@kohinos/email/email_layout.html.twig' %}

{% set title %}
{% apply spaceless %}
	{{ 'des_demande_achat_monnaie_email_subject'|trans({}, 'flux') }}
{% endapply %}
{% endset %}

{% block content %}
	<h3>
		Votre demande d'achat de monnaie locale d'un montant de <b>{{ flux.montant|number_format(2) }}</b> a bien été prise en compte !
	</h3>
	<p>
		Nous attendons le paiement afin de créditer votre compte, voici de nouveau les instructions : 
	</p>
	<p>
		{{ ('demande_achat_text_'~flux.moyen)|trans({'%ordre%': KOH_CHECK_ORDER, '%adresse%' : KOH_CHECK_ADDRESS, '%iban%': KOH_IBAN_GUARANTY}, 'flux')|raw }}
	</p>
	<em>Référence à rappeler : {{ flux.reference }}</em>
{% endblock %}