{% extends '@kohinos/email/email_layout.html.twig' %}

{% set title %}
{% apply spaceless %}
	{{ subject }}
{% endapply %}
{% endset %}

{% block content %}
	<h2 style="font-size: 18px; color: #111111; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: bold; line-height: 1.2em; margin: 40px 0 10px;">{{ user.name|title }}</h2><br/>
	<h3>
		Demande de reconversion
	</h3>
	<p>Bonjour,</p>
	<p>Le prestataire <b>{{ flux.expediteur }}</b> a demandé la reconversion de {{ flux.montant|number_format(2) }} e-{{KOH_MLC_SYMBOL|default('mlc')}} le {{ flux.createdAt|date('d/m/Y H:i') }}.</p>
	<p>Merci de consulter votre tableau de bord Kohinos (Liste des reconversions) et de procéder au virement indiqué puis de le cocher "effectué". Pensez également au transfert de la valeur de la "commission".</p>
	<p>Montant à reconvertir : {{ flux.montantareconvertir }} &euro;</p>
	<p>Montant de la commission : {{ flux.montantcommission }} &euro;</p>
	<p>Taux de reconversion : {{ flux.tauxreconversion }} %</p>
	<p>Référence indiqué : {{ flux.reference }}</p>
{% endblock %}