{% extends '@kohinos/email/email_layout.html.twig' %}

{% set title %}
{% apply spaceless %}
	{{ 'des_validate_demande_achat_monnaie_email_subject'|trans({}, 'flux') }}
{% endapply %}
{% endset %}

{% block content %}
	<h3>
		Votre e-compte a été crédité d'un montant de <b>{{ flux.montant|number_format(2) }}</b> !
	</h3>
	<p>
		Suite à la bonne réception de votre paiement par <b>{{flux.moyen}}</b> d'un montant de <b>{{ flux.montant|number_format(2) }}</b>, nous avons crédité votre compte.<br/>
		
		<em>Référence : {{ flux.reference }}</em>
	</p>
{% endblock %}