{% extends '@kohinos/email/email_layout.html.twig' %}

{% set title %}
{% apply spaceless %}
	{{ 'exp_validate_demande_achat_monnaie_email_subject'|trans({}, 'flux') }}
{% endapply %}
{% endset %}

{% block content %}
	<h3>
		Validation d'un achat de monnaie numérique !
	</h3>
	<p>
		Demandeur : <b>{{ flux.destinataire }}</b> (opérateur : {{ flux.operateur.name }})<br/>
		Montant : <b>{{ flux.montant|number_format(2) }} e-MLC</b><br/>
		Moyen : {{ flux.moyen }}<br/>
		<em>Référence : {{ flux.reference }}</em><br/>
	</p>
{% endblock %}