{% extends '@kohinos/email/email_layout.html.twig' %}

{% set title %}
{% apply spaceless %}
	{{ 'exp_demande_achat_monnaie_email_subject'|trans({}, 'flux') }}
{% endapply %}
{% endset %}

{% block content %}
	<h3>
		Une nouvelle demande d'achat de monnaie locale d'un montant de <b>{{ flux.montant|number_format(2) }}</b> a été enregistré !
	</h3>
	<p>
		Demandeur : <b>{{ flux.destinataire }}</b> (opérateur : {{ flux.operateur.name }})<br/>
		Moyen : {{ flux.moyen }}<br/>
		<em>Référence : {{ flux.reference }}</em><br/>
	</p>
{% endblock %}