{% extends '@kohinos/email/email_layout.html.twig' %}

{% set title %}
{% apply spaceless %}
    {{ subject }}
{% endapply %}
{% endset %}

{% block content %}
    <h2 style="font-size: 18px; color: #111111; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: bold; line-height: 1.2em; margin: 40px 0 10px;"><strong><u>Objet :</u> Reçu de votre cotisation annuelle à l'association {{KOH_MLC_NAME_SMALL}}</strong></h2><br/>
    <p>De : {{ flux.operateur.email }}</p>
    <br/>
    <p>Expéditeur : {{ flux.expediteur }}</p>
    <p>Destinataire : {{ flux.destinataire }}</p>
    <p>Date :</p>
    <p>Valable du {{ flux.cotisationInfos ? flux.cotisationInfos.debut|date('d/m/Y') }} au {{ flux.cotisationInfos ? flux.cotisationInfos.fin|date('d/m/Y') }}</p>
    <p>Montant : <strong>{{ flux.montant|number_format(2) }} </strong></p>
    <p>Moyen : {{ flux.moyen }}</p>
    <p>Nous vous remercions de votre soutien</p>
    <br/>
    <br/>
    <hr/>
    <br/>
    <p>"TVA non applicable, article 293 B du Code général des impôts"</p>
{% endblock %}