{% set userlogintitle = 'Modifier votre mot de passe !'|trans %}
{% extends "@kohinos/bundles/FOSUserBundle/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}
