{% extends '@kohinos/block/onetransaction.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-exchange fa-exchange-alt me-4"></i> {{ "Retrait d'un prestataire"|trans }}
{% endblock blocktitle %}
{% block blockcontent %}
	<p>{{ "Retrait de billets papier en échange de e-mlc"|trans }}</p>
	{% if app.session.has('_comptoirgere') %}
		{% set form = getRetraitComptoirToXForm(app.user, 'prestataire') %}
		{{ parent() }}
	{% else %}
		<span><em> {{ 'Aucun Comptoir assigné ! Veuillez contacter un administrateur !'|trans }} </em></span>
	{% endif %}
{% endblock blockcontent %}