{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
	<div class='container'>
		<div class='row'>
			<div class='col-xs-6 text-center mt-3'>
				<h1>Oups ! Il y a eu une erreur !</h1>
				<br/>
				<p><em>The server returned a "{{ status_code }} {{ status_text }}".</em></p>
			</div>
		</div>
	</div>
{% endblock content %}