{# MLC : Overwrite fos user template for login #}
{% extends '@kohinos/common/layout.html.twig' %}

{% set userlogintitle = userlogintitle is defined ? userlogintitle : 'CONNEXION'|trans %}
{% block content %}
    <div class='container login'>
        <div class='row'>
            <div class='col-0 col-md-1'>
            </div>
            <div class='col-12 col-md-10 text-center'>
                <div class="card my-4 mx-4">
                    <div class="card-header">{{ userlogintitle }}</div>
                    <div class="card-body">
                        <div class="card-text mx-auto">
                            {% block fos_user_content %}
                            {% endblock fos_user_content %}
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-0 col-md-1'>
            </div>
        </div>
    </div>
{% endblock %}
