{% set userlogintitle = 'INSCRIPTION'|trans %}
{% extends "@kohinos/bundles/FOSUserBundle/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
