{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container prestalist mt-2'>
	{% include '@kohinos/block/breadcrumb.html.twig' with {'label' : 'Carte des'|trans ~ ' ' ~ groupetype|upper} %}
	<div class='card'>
		<div class="card-header"><h3>{{ 'Carte des'|trans }} {{groupetype|upper}} :</h3></div>
		<div class="card-body">
			<div class="card-text">
				{% include '@kohinos/presta/block/carte.html.twig' with {title: 'Situer les '~groupetype|capitalize, id: 'groupeid', style:"height: 400px;"} %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
{% include '@kohinos/groupepresta/block/cartejs.html.twig' with {id: 'groupeid'} %}
{% endblock %}
