{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container comptoirslist mt-2'>
   {% include '@kohinos/block/breadcrumb.html.twig' with {'label' : 'Comptoirs'|trans } %}
    <h1 class='pagetitle'>{{ 'Liste des'|trans }} {{groupetype~'s'}} :</h1>
    <div class="row">
      {% for groupepresta in groupes %}
         <div class='col-6'>
            {% include '@kohinos/groupepresta/onegroupepresta.html.twig' %}
         </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
