<div class="card mb-2">
	<div class="card-header" style='cursor:pointer;'>
		<h2>
			<a href='{{ path('show_groupeprestataire', {'slug': groupepresta.slug}) }}'>
    		{{groupepresta.__toString()|raw|replace({'"' : "'", "\n":' ', "\r":' '})|capitalize }}
    	</a>
		</h2>
	</div>
	<div class="card-body">
		{% if groupepresta.groupe != null %}
			<h4 class="card-subtitle mb-3">{{ 'Groupe local'|trans }} : <a href='{{ path('show_groupe', {'slug': groupepresta.groupe.slug}) }}'>{{ groupepresta.groupe.__toString() }}</a></h4>
		{% endif %}
		{% if groupepresta.horaires != null %}
			<h5 class="card-subtitle mb-3">{{ 'Horaires'|trans }} : {{ groupepresta.horaires|replace({'"' : "'", "\n":' ', "\r":' '})|raw }}</h5>
		{% endif %}
		{% if groupepresta.tel != null %}
			<h5 class="card-subtitle mb-3">{{ 'Téléphone'|trans }} : {{ groupepresta.tel }}</h5>
		{% endif %}
		{% if groupepresta.email != null %}
			<h6 class="card-subtitle mb-3">{{ 'Email'|trans }} : {{ groupepresta.email|safe_email|raw }}</h6>
		{% endif %}
		{% if groupepresta.getFullAddresse() != null %}
			<h6 class="card-title text-muted mb-3">{{ groupepresta.getFullAddresse() }}</h6>
		{% endif %}
		<div class="card-text">
  		{{ groupepresta.content|raw }}
  	</div>
   </div>
</div>