<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="fr-FR"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr-FR">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
	    <meta name="lang" content="FR"/>
	    <style>
	    	*{
			    transition: all 0.6s;
			}

			html {
			    height: 100%;
			}

			body{
			    font-family: 'Lato', sans-serif;
			    color: #888;
			    margin: 0;
			}

			#main{
			    display: table;
			    width: 100%;
			    height: 100vh;
			    text-align: center;
			}

			.fof{
				  display: table-cell;
				  vertical-align: middle;
			}

			.fof h1{
				  font-size: 30px;
				  display: inline-block;
				  padding-right: 12px;
				  animation: type .5s alternate infinite;
			}
			a {
				text-decoration: none;
			}

			@keyframes type{
				  from{box-shadow: inset -3px 0px 0px #888;}
				  to{box-shadow: inset -3px 0px 0px transparent;}
			}
	    </style>
	</head>
	<body>
	    <div id="main">
	    	<div class="fof">
	    		<a href='/'><img src="/images/logo.png" width="200" class="d-inline-block align-top" alt="{{ KOH_MLC_NAME|default('') }}"></a><br/><br/><br/>
	        	<h1>Oups, page introuvable !</h1><br/><br/><br/><br/>
	        	<a href='/'>Retour à la page d'accueil</a>
	    	</div>
		</div>
	</body>
</html>
 No newline at end of file
