<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon">
        <title>{% block title %}Site hors-ligne !{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <style>
            .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        </style>
    </head>
    <body>
        <div class="example-wrapper">
            <h1>Site hors-ligne !</h1><br/><br/>

            <a href="{{ path('index') }}">Retourner à la page d'accueil</a>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
 No newline at end of file
