{% trans_default_domain 'messages' %}
{% set userlogintitle = 'Créer votre mot de passe'|trans %}
{% extends "@kohinos/bundles/FOSUserBundle/layout.html.twig" %}

{% block fos_user_content %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'Valider'|trans }}" />
    </div>
{{ form_end(form) }}
{% endblock fos_user_content %}
