{% set userlogintitle = 'Réinitialiser le mot de passe'|trans %}
{% extends "@kohinos/bundles/FOSUserBundle/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Resetting/request_content.html.twig" %}
{% endblock fos_user_content %}
