{% set user = form.vars.value %}
{% if user.lastLogin == null %}
	{% set userlogintitle = 'Validation du compte et création de votre mot de passe'|trans %}
{% else %}
	{% set userlogintitle = 'Réinitialiser le mot de passe'|trans %}
{% endif %}

{% extends "@kohinos/bundles/FOSUserBundle/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}
