{% extends '@kohinos/flux/confirmationPage/cotisation.html.twig' %}

{% block confirmpage_title %}{{ 'confirmation-cotisation_adherent-title'|trans({}, 'flux') }}{% endblock confirmpage_title %}
{% block confirmpage_content %}{{ 'confirmation-cotisation_adherent-content'|trans({}, 'flux') }}{% endblock confirmpage_content %}
{% block confirmpage_footer %}
  <a href='{{ path('achatMonnaieAConfirmer') }}' type="button" class="btn btn-primary" id="confirmPageButtonCTA">
    {{ 'confirmation-cotisation_adherent-footer-cta'|trans({}, 'flux') }}
  </a>
  <a href="{{ path('index') }}" class="btn btn-secondary" id="confirmPageButtonCTA">
    {{ 'confirmation-cotisation_adherent-footer-return'|trans({}, 'flux') }}
  </a>
{% endblock confirmpage_footer %}