{% extends '@kohinos/flux/confirmationPage/flux_confirmationpage.html.twig' %}

{% block confirmpage_title %}{{ 'confirmation-demandeachat-title'|trans({}, 'flux') }}{% endblock confirmpage_title %}
{% block confirmpage_content %}{{ 'confirmation-demandeachat-content'|trans({}, 'flux') }}{% endblock confirmpage_content %}
{% block confirmpage_footer %}
  <a href='{{ path('index') }}' type="button" class="btn btn-secondary" id="confirmPageButtonCTA">
    {{ 'confirmation-demandeachat-footer-return'|trans({}, 'flux') }}
  </a>
{% endblock confirmpage_footer %}