{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container confirmationPage mt-5 mb-5' style='max-width:800px;'>

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {% block confirmpage_header %}<h5 class="modal-title" id="confirmPageModal">{% block confirmpage_title %}{{ 'confirmation-flux-title'|trans({}, 'flux') }}{% endblock confirmpage_title %}</h5>{% endblock confirmpage_header %}
      </div>
      <div class="modal-body">
        {% block confirmpage_content %}{{ 'confirmation-flux-content'|trans({}, 'flux') }}{% endblock confirmpage_content %}
      </div>
      <div class="modal-footer">
        {% block confirmpage_footer %}{{ 'confirmation-flux-footer'|trans({}, 'flux') }}{% endblock confirmpage_footer %}
      </div>
    </div>
  </div>

</div>
{% endblock %}
