{% extends '@kohinos/flux/confirmationPage/flux_confirmationpage.html.twig' %}

{% block confirmpage_title %}
    {{ KOH_MLC_NAME_SMALL|default('MLC') }} : votre virement en faveur de {{ flux.destinataire }}
{% endblock confirmpage_title %}

{% block confirmpage_content %}
    Votre virement de <b>{{ flux.montant }} e-{{ KOH_MLC_SYMBOL|default('MLC') }}</b> en faveur de <b>{{ flux.destinataire }}</b> a bien été enregistré le {{ flux.createdAt|date('d/m/Y à H:i')}}
{% endblock confirmpage_content %}

{% block confirmpage_footer %}
  <a href='{{ path('achatMonnaieAConfirmer') }}' type="button" class="btn btn-primary" id="confirmPageButtonCTA">
    {{ 'confirmation-cotisation_adherent-footer-cta'|trans({}, 'flux') }}
  </a>
  <a href="{{ path('index') }}" class="btn btn-secondary" id="confirmPageButtonCTA">
    {{ 'confirmation-cotisation_adherent-footer-return'|trans({}, 'flux') }}
  </a>
{% endblock confirmpage_footer %}