<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="confirmSolidoumeModal" tabindex="-1" role="dialog" aria-labelledby="confirmSolidoumeModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-secondary">
        <h5 class="modal-title text-primary" id="confirmSolidoumeModalTitle">{{ 'Merci de votre participation à'|trans~' '~getSolidoumeParam('name') }}</h5>
      </div>
      <div class="modal-body">
        <ul>
          {% if not item.isRecurrent or item.amount > item.adherent.getAccountWithCurrency(constant('App\\Enum\\CurrencyEnum::CURRENCY_EMLC')).balance %}
            <li class="list-group-item">
              {{ 'Solde de votre compte'|trans }} : <b>{{ item.adherent.getAccountWithCurrency(constant('App\\Enum\\CurrencyEnum::CURRENCY_EMLC')).balance }}</b> eMLC
            </li>
          {% endif %}
          <li class="list-group-item">
            {{ 'Montant de votre participation'|trans }}{{ item.isRecurrent?' mensuelle':'' }} : <b>{{item.amount}}</b> eMLC
          </li>
          <li class="list-group-item">
            {% if item.isRecurrent %}
              {% if item.isDonation %}
                {{ "Merci de votre donation tous les <b>%paiementDate%</b> du mois"|trans({'%paiementDate%': item.paiementDate})|raw }}
              {% else %}
                {{ "Jour de prélèvement"|trans }} : <b>{{item.paiementDate}}</b>
              {% endif %}
            {% else %}
              {{ "Prélevé immédiatement"|trans }}
            {% endif %}
          </li>
          {% if not item.isDonation %}
            <li class="list-group-item">
              {{ "La redistribution a lieu le <b>%executionDate%</b> de chaque mois"|trans({'%executionDate%': getSolidoumeParam('executionDate')})|raw }}
            </li>
          {% endif %}
        </ul>
        {# Si le solde est insuffisant #}
        {% if item.amount > item.adherent.getAccountWithCurrency(constant('App\\Enum\\CurrencyEnum::CURRENCY_EMLC')).balance %}
          <div class='text-center mx-auto w-100'>
            <p class='text-danger'>Le solde de votre comte est inférieur à votre participation</p>
            <a href='{{ path('achatMonnaieAdherent') }}' type="button" class="btn btn-primary my-2">{{ 'Acheter de la monnaie numérique immédiatement'|trans }}</a>
            <a href='{{ path('index') }}' type="button" class="btn btn-secondary my-2" data-bs-dismiss="modal" data-dismiss="modal">{{ 'Acheter de la monnaie numérique ultérieurement'|trans }}</a>
          </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">{{ 'Modifier sa participation'|trans }}</button>
        <a href='{{ path('index') }}' type="button" class="btn btn-primary">{{ "Retour à l'accueil"|trans }}</a>
      </div>
    </div>
  </div>
</div>
