#mapid {
	height: 360px;
}
.exportbutton .dropdown-menu>li>a {
    color: #777;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.exportbutton .dropdown-menu>li>a:hover {
    background-color: #e1e3e9;
    color: #333;
}
label.required:after {
    content: '*';
}
legend.required:after {
    content: '*';
}
.form-check-label:after {
    content: '' !important;
}
.leaflet-container {
    z-index: 4;
}

.card-text img, .card-header img {
    max-width: 100%;
    height: auto;
}

.kohinos-montant-radio .form-check {
  margin: 10px;
}

.kohinos-montant-radio label {
  margin-left: 5px;
}

#formPrestataireInfos_media .custom-file-label {
    border: 0px;
}

/*For captcha bundle : https://github.com/Gregwar/CaptchaBundle*/
.invalid-feedback {
    display: inline-block !important;
}
.form-control, .form-group {
    margin-bottom: 10px !important;
}
.form-group:last-child {
    margin-bottom: 0px !important;
}
.modal-footer .btn:not(.disabled):active {
    margin-top: 6px !important;
}
.modal-footer .btn:not(.disabled):hover {
    margin-top: 5px !important;
}
.slider .tooltip.bs-tooltip-top {
    margin-top: -37px !important;
}
.slider .tooltip {
    display: none !important;
}
form[name='formSolidoumeItem'] .form-check {
    text-align: left !important;
}
form[name='formAchatMonnaieAdherent'] .form-check {
    display: inline-block !important;
}