.blockcollapse .card-header:hover {
  background-color: rgba(21, 140, 186, 0.2) !important
}
.blockcollapse .card-header {
	cursor:pointer;
	border-bottom:0px;
}
.blockcollapse, .blockcollapse .card-header, ol.breadcrumb, .blocksolde, .header .navbar {
	border-radius: 15px;
}
.btn-primary, .btn-secondary {
	border-radius: 10px;	
}
.nounderline:hover {
	text-decoration: none;
}