/**
 * STYLES DE L'APPLICATION DE L'OUTIL DE GESTION DE MONNAIE LOCALE COMPLEMENTAIRE
 */

// Modifier les couleurs de boostrap s :
//$primary: #29ae90;
// $secondary: darken(#29ae90, 20%);

.footer {
    margin: 60px auto 20px auto;
}

.appversion {
    color: #777777;
    font-size: 8px;
}

/**
 * STYLES IMPORTES DE BOOTSTRAP ET BOOTSWATCH (à mettre en dernier si on veut modifier les variables bootstrap)
 *
 * custom hérite de lumen mais on supprime l'appel à googlefont ! ("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic")
 *
 * @import "~bootswatch/dist/[theme]/variables";
 * @import "~bootstrap/scss/bootstrap";
 * @import "~bootswatch/dist/[theme]/bootswatch";
 *
 * Remplacer [theme] par un des thèmes possibles (thème par défaut du Kohinos: lumen) :
 * cerulean, cosmo, cyborg, darkly, flatly, journal, litera, lumen, lux, materia, minty, morph, pulse, quartz, sandstone, simplex, sketchy, slate, solar, spacelab, superhero, united, vapor, yeti, zephyr
 */
@import "./custom/variables";
@import "bootstrap/scss/bootstrap";
@import "./custom/bootswatch";
// @import "~bootswatch/dist/lumen/variables";
// @import "~bootstrap/scss/bootstrap";
// @import "~bootswatch/dist/lumen/bootswatch";
@import "select2/dist/css/select2";


.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}
.select2-container .select2-selection--single {
    height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}
a {
    color: var(--bs-link-color);
    text-decoration: none;
}