{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container groupeslist mt-2'>
    {% include '@kohinos/block/breadcrumb.html.twig' with {'label' : 'Groupes locaux'} %}
    <h4>{{ 'Groupes locaux'|trans }}</h4>
    {% for groupe in groupes %}
        <div class="card mb-2">
            <div class="card-header"><h1><a class='groupe' href='{{ path('show_groupe', {'slug': groupe.slug}) }}'>{{groupe.name}}</a></h1></div>
            <div class="card-body">
                <div class="card-text">
                    {{groupe.content|raw}}
                </div>
            </div>
            {% if groupe.comptoirs|length > 0 %}
                <div class="card-header"><h2>{{ groupe.comptoirs|length }} {{'comptoirs'|trans}} :</h2></div>
                <ul class="list-group list-group-flush">
                    {% for comptoir in groupe.comptoirs %}
                        <li class="list-group-item">
                            <a href='{{ path('show_comptoir', {'slug': comptoir.slug}) }}'>{{comptoir.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
