{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block navbar_title %}
    Configuration
{% endblock %}

{% block actions %}
    {# Suppression intentionnelle du bouton Ajouter #}
{% endblock %}

{% block list_table %}
{% set all_parameters = admin.allParameters %}
{% set parameter_sections = admin.parameterSections %}
<style>
/* Utilisation de Flexbox pour une mise en page plus adaptative */
.parameters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    padding: 0 1rem;
}

.parameter-box {
    flex: 1 0 400px; /* Flexbox: grow, shrink, basis */
    max-width: 100%; /* Évite que les boîtes dépassent de l'écran sur petits écrans */
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Assure que les bords arrondis fonctionnent correctement */
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.parameter-box .card-header {
    flex: 0 0 auto; /* Le header ne doit pas rétrécir ou s'agrandir */
    color: white; /* Texte blanc pour meilleur contraste */
    font-weight: 500; /* Légèrement plus gras */
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Ajoute une ombre au texte pour améliorer la lisibilité */
    padding: 0.75rem 1.25rem;
}

.parameter-box .card-header h3 {
    margin: 0;
    font-size: 1.25rem;
}

.parameter-box .card-body {
    flex: 1 0 auto; /* Permet à la carte de s'étendre */
    overflow-y: auto; /* Permet le défilement si nécessaire */
    overflow-x: hidden;
    padding: 1rem;
    background-color: #fff; /* Assure que le fond est blanc */
}

/* Assure que les cartes de même ligne ont la même hauteur */
.flex-card-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.parameter-row {
    margin-bottom: 1.75rem;
    width: 100%;
}

.parameter-row:last-child {
    margin-bottom: 0;
}

.editable-value {
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
    border-radius: 3px;
    box-shadow: 0 0 0 1px lightgray;
    transition: background-color 0.2s;
}

.form-check.form-switch {
    margin: 0;
    padding-left: 1rem;
}

.form-check-input {
    width: 3em;
    height: 1.5em;
    cursor: pointer;
}

.editable-value:hover {
    background-color: #f8f9fa;
}

/* Media queries pour adapter la mise en page */
@media (max-width: 768px) {
    .parameter-box {
        flex: 1 0 100%; /* Sur petits écrans, chaque boîte prend toute la largeur */
    }
}

@media (min-width: 1200px) {
    .parameter-box {
        flex: 1 0 400px; /* Sur grands écrans, permet d'avoir plus de colonnes */
        max-width: calc(50% - 0.5rem); /* Maximum 2 colonnes avec un petit gap */
    }
}
</style>

{# Champ caché pour le token CSRF #}
<input type="hidden" name="_token" value="{{ csrf_token('sonata_admin') }}">

<div class="parameters-container">
    {% for section_key, section in parameter_sections %}
        <div class="card parameter-box">
            <div class="card-header" style="background-color: {{ section.color }};">
                <h3 class="card-title">{{ section.title }}</h3>
            </div>
            <div class="card-body box-body">
                <div class="parameter-list">
                    {% if section.title == 'Carte' %}
                        {% set mapCenter = '' %}
                        {% set mapZoom = '' %}
                        
                        {% for object in section.parameters %}
                            {% if object.name == 'MAP_CENTER' %}
                                {% set mapCenter = object.value %}
                            {% endif %}
                            {% if object.name == 'MAP_ZOOM' %}
                                {% set mapZoom = object.value %}
                            {% endif %}
                            
                            {% include '@kohinos/admin/list_parameter_row.html.twig' with {
                                'object': object,
                                'admin': admin
                            } %}
                        {% endfor %}
                        
                        {# Ajouter les champs cachés après la boucle pour s'assurer qu'ils sont toujours présents #}
                        <input type="hidden" id="koh_map_center" value="{{ mapCenter }}">
                        <input type="hidden" id="koh_map_zoom" value="{{ mapZoom }}">
                        
                        <div class="parameter-row">
                            <div class="row">
								<div class="col-12">
									<span class="parameter-description text-muted ml-3 pl-2">
										Aperçu de la carte :
									</span>
                                    <div id="map-preview" style="height: 300px; width: 90%; margin: 1em auto; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% for object in section.parameters %}
                            {% include '@kohinos/admin/list_parameter_row.html.twig' with {
                                'object': object,
                                'admin': admin
                            } %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}