<li>
    <a class="sonata-action-element" href="{{ admin.generateUrl('synchro') }}?test=true">
        <i class="fa fa-refresh"></i> {{ 'Test Synchronisation'|trans({}, 'SonataAdminBundle') }}
    </a>
</li>