<div class="parameter-row d-flex">
    {% if object.value == 'true' or object.value == 'false' %}
        <span class="boolean-parameter form-check form-switch mr-3"
         data-id="{{ object.id }}" 
         data-field="value" 
         data-original-value="{{ object.value }}">
            <input type="checkbox" 
               class="form-check-input boolean-checkbox" 
               {% if object.value == 'true' %}checked{% endif %}
            {% if object.name == 'USE_WORDPRESS' %} disabled {% endif %}
               data-parameter-id="{{ object.id }}"
               data-bootstrap-switch
               id="checkbox_{{ object.id }}">
        </span>

    <span class="parameter-description text-muted flex-grow-1" style="word-wrap: break-word;">
                {{ object.description }}
                {% if admin.help(object.name) %}
                    <br><small><em>{{ admin.help(object.name)|raw }}</em></small>
                {% endif %}
    </span>

    {% else %}
        <span class="parameter-description text-muted flex-grow-0 flex-shrink-0" style="padding-right: 1rem; word-wrap: break-word;">
            {{ object.description }}
            {% if admin.help(object.name) %}
                <br><small><em>{{ admin.help(object.name)|raw }}</em></small>
            {% endif %}
        </span>
        <span class="parameter-value flex-grow-1 flex-shrink-1" style="min-width: 0;">
            <div class="editable-value form-control-plaintext text-truncate {% if object.name in ['MAP_CENTER', 'MAP_ZOOM'] %}map-param{% endif %}" 
                 data-id="{{ object.id }}" 
                 data-field="value" 
                 data-original-value="{{ object.value }}"
                 role="button"
                 tabindex="0"
                 title="{{ object.value }}">
                {{- object.value|default('(vide)') -}}
            </div>
        </span>
    {% endif %}
</div>

<script>
$(document).ready(function() {
    // Attacher l'événement directement à chaque checkbox (uniquement pour cette ligne spécifique)
    $('#checkbox_{{ object.id }}').on('change', function() {
        var parameterId = $(this).data('parameter-id');
        var isChecked = $(this).prop('checked');
        var newValue = isChecked ? 'true' : 'false';
        
        console.log('Case à cocher changée:', parameterId, 'avec la valeur:', newValue);

        if ($(this).prop('disabled') === true) {
            return;
        }
        
        // Récupérer le token CSRF
        var csrfToken = $('meta[name="csrf-token"]').attr('content');
        if (!csrfToken) {
            csrfToken = $('input[name="_token"]').val();
        }
        
        // Requête AJAX pour mettre à jour le paramètre
        $.ajax({
            url: '/admin/global-parameter/' + parameterId + '/update-value',
            method: 'POST',
            data: {
                value: newValue,
                _token: csrfToken
            },
            dataType: 'json',
            success: function(data) {
                if (data.success) {
                    // Afficher un message de succès
                    var alertDiv = $('<div>')
                        .addClass('alert alert-success')
                        .text('Paramètre mis à jour avec succès')
                        .css({
                            position: 'fixed',
                            top: '20px',
                            right: '20px',
                            zIndex: '9999'
                        });
                    
                    $('body').append(alertDiv);
                    
                    setTimeout(function() {
                        alertDiv.remove();
                    }, 3000);
                } else {
                    console.error('Erreur lors de la mise à jour:', data.message);
                }
            },
            error: function(xhr, status, error) {
                console.error('Erreur AJAX:', error);
                console.error('Statut:', status);
                console.error('Réponse:', xhr.responseText);
                
                var alertDiv = $('<div>')
                    .addClass('alert alert-danger')
                    .text('Erreur lors de la mise à jour du paramètre')
                    .css({
                        position: 'fixed',
                        top: '20px',
                        right: '20px',
                        zIndex: '9999'
                    });
                
                $('body').append(alertDiv);
                
                setTimeout(function() {
                    alertDiv.remove();
                }, 3000);
            }
        });
    });
});
</script>
