<div class="modal fade" id="confirmValidationAchatModal" tabindex="-1" role="dialog" aria-labelledby="confirmValidationAchatModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmValidationAchatModalTitle">{{ "Voulez vous vraiment valider cet achat de monnaie numérique ?"|trans}}</h5>
      </div>
      <div class="modal-body">
        <p>
          <span class="type"></span> : <b><span class="destinataire"></span></b>
        </p>
        <p>
          {{ 'Montant'|trans }} : <b><span class="montant"></span> e{{ KOH_MLC_SYMBOL|default('MLC') }}</b>
        </p>
        <p>
          Moyen : <b><span class="moyen"></span></b> (référence : <b><span class="reference"></span></b>)
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">{{ 'Annuler'|trans }}</button>
        <button type="button" class="btn btn-primary" id="confirmAchatButton">{{ 'Confirmer'|trans }}</button>
      </div>
    </div>
  </div>
</div>
