<div class="modal fade" id="helloassoAssociateModal" tabindex="-1" role="dialog" aria-labelledby="helloassoAssociateModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helloassoAssociateModalTitle">{{ "Voulez vous associer cette transaction à un prestataire ou un adhérent existant ?"|trans }}</h5>
      </div>
      <div class="modal-body">
        <p>
          <span class="type"></span> {{ 'le'|trans }} <b><span class="date"></span></b>
        </p>
        <p>
          {{ 'Montant'|trans }} : <b><span class="amount"></span> €</b>
        </p>
        <p>
          {{ 'User'|trans }} : <b><span class="user"></span></b>
        </p>
        <p>
          ( {{ 'Payeur'|trans }} : <span class="payer"></span> )
        </p>
        <p class='my-5 text-center text-bold'>
          {{ 'Associer ce paiement à un prestataire ou un adhérent :'|trans }}
        </p>
        <p class='text-center'>
          {% set prestataires = getAllPrestataires() %}
            <select name='presta' id='helloasso_associate_presta' style="width: auto; height: auto" class="form-control">
              <option value="">Sélectionner un prestataire</option>
              {% for presta in prestataires %}
                <option value="{{ presta.id }}">{{ presta }}</option>
              {% endfor %}
            </select>
            <span class='mx-2'> ou </span>
          {% set adherents = getAllAdherents() %}
            <select name='adherent' id='helloasso_associate_adherent' style="width: auto; height: auto" class="form-control">
              <option value="">Sélectionner un adhérent</option>
              {% for adherent in adherents %}
                <option value="{{ adherent.id }}">{{ adherent.fullname }}</option>
              {% endfor %}
            </select>
        </p>
        <p class='mt-5 small text-center'>
          * Si l'adhérent ou le prestataire n'existe pas, il faut le créer sur l'interface admin au préalable !
        </p>
        <p class='text-center'>
          <span class='error text-red'></span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">{{ 'Annuler'|trans }}</button>
        <button type="button" class="btn btn-primary" id="confirmAssociateHelloassoButton">{{ 'Confirmer'|trans }}</button>
      </div>
    </div>
  </div>
</div>
