{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block list_table %}
	<div class="col-xs-10 col-md-10 card p-4 m-4">
		{{form_start(form)}}
			{{ form_row(form.name) }}
			{{ form_row(form.description) }}
			{{ form_row(form.descriptionCotisation) }}
			{{ form_row(form.minimum) }}
			{{ form_row(form.maximum) }}
			{{ form_row(form.commission) }}
			{{ form_row(form.executionDate) }}
			{{ form_row(form.reminderDays) }}
			{{ form_row(form.reminderEmail) }}
			{{ form_row(form.confirmEmail) }}
			{{ form_row(form.save) }}
		{{form_end(form)}}
	</div>
{% endblock list_table %}

{% block list_filters_actions %}
{% endblock list_filters_actions %}

{% block list_filters %}
{% endblock list_filters %}


{% block title %}
{% endblock %}

{% block navbar_title %}
{% endblock %}