{% extends '@kohinos/bundles/SonataAdminBundle/standard_layout.html.twig' %}

{% block sonata_page_content %}
    <section class="content">
    	<div class="row">
    		<div class="col-xs-12 col-md-12">
                <div class="box box-primary" style="margin-bottom: 100px;">
                	<div class="box-body table-responsive">
                        <h2>Redistributions</h2>
                        <hr/>
                        {% if datas|length > 0 %}
                            {% for key, data in datas %}
                                {% if key == '_next' %}
                                    <h4>Prochaine redistribution : </h4>
                                {% else %}
                                    <h4>Redistribution du <b>{{ key }}</b> : </h4>
                                {% endif %}
                                <p>Montant récolté : {{ data.totalAmount }}&euro;</p>
                                <p>Commission récoltée ({{ data.commission }}%) : {{ data.amountcommission }}&euro;</p>
                                <p>Nombre de donateur(s) : {{ data.nbdonateur }} (pour un total de {{ data.totalAmountDon }}&euro;)</p>
                                {% if key != '_next' %}
                                    <p>Nombre de personne(s) participante(s) au programme : {{ data.nbperson }}</p>
                                    <p>Nombre de "raté(s)" : {{ data.nbmissed }} (pour un total de {{ data.totalMissed }}&euro;)</p>
                                    <p>Montant réel redistribué par participant : <b>{{ data.totalperperson }}&euro;</b></p>
                                    <p>Montant total réel calculé par le script de redistribution : <b>{{ (data.totalperperson*data.nbperson/95*100)|round(0, 'common') }}&euro;</b></p>
                                {% endif %}
                                <hr/>
                                <table class="table table-bordered table-striped table-hover sonata-ba-list">
                                    <thead>
                                        <tr class="sonata-ba-list-field-header-text">
                                            <td>Adhérent</td>
                                            <td>Somme prélevée</td>
                                            <td>Somme redistribuée</td>
                                            <td>Date de prélèvement</td>
                                            <td>Don ?</td>
                                            <td>Récurrent ?</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for name, adherent in data.adherent %}
                                            <tr>
                                                <td>{{ name }}</td>
                                                <td>{{ adherent.prelevement is defined?adherent.prelevement.montant:'non prélevé' }}</td>
                                                <td>
                                                    {% if adherent.redistribution is defined %}
                                                        {{ adherent.redistribution.montant }}
                                                    {% else %}
                                                        non redistribué 
                                                        {% if adherent.don is defined and adherent.don == 1 %}
                                                            (don)
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td>{{ adherent.prelevement is defined?adherent.prelevement.createdAt|date('d/m/Y H:i'):'' }}</td>
                                                <td>{{ (adherent.don is defined and adherent.don == 1)?'<span class="label label-success">oui</span>':'<span class="label label-danger">non</span>' }}</td>
                                                <td>{{ adherent.item.isRecurrent == 1?'<span class="label label-success">oui</span>':'<span class="label label-danger">non</span>' }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            <br/>
                            <hr/>
                            <br/>
                            <br/>
                            {% endfor %}
                        {% else %}
                            <br/>
                            <p>
                                {{ "Aucunes redistributions pour le moment !"|trans }}
                            </p>
                        {% endif %}
        			</div>
    			</div>
    		</div>
    	</div>
    </section>
{% endblock %}