{% extends '@kohinos/email/email_layout.html.twig' %}

{% set title %}
{% apply spaceless %}
	{{ subject }}
{% endapply %}
{% endset %}

{% block content %}
	{{ getSolidoumeParam('confirmEmail')|replace({
		'%name%' : getSolidoumeParam('name'),
		'%adherent_name%' : item.adherent.name,
		'%amount%' : item.amount,
		'%paiementDate%' : item.paiementDate,
		'%executionDate%' : getSolidoumeParam('executionDate')
	})|raw }}
{% endblock %}