{% extends '@kohinos/email/email_layout.html.twig' %}

{% set title %}
{% apply spaceless %}
	{{ subject }}
{% endapply %}
{% endset %}

{% block content %}
	<p>Bonjour,</p>

	<p>Vous avez rejoint il y a trois mois le dispositif Soli'doume, et nous vous en remercions.</p>

	<p>Afin de mieux cerner vos attentes et d'améliorer Soli'doume, nous vous proposons de répondre à quelques questions. Cela vous prendra environ 5 minutes.</p>

	<p><a href="https://framaforms.org/retours-experience-solidoume-1655078263" alt="Lien vers les questionnaire">Lien vers les questionnaire</a></p>

	<p>D'avance merci pour votre aide précieuse !</p>

	<p>L'équipe Soli'doume</p>
{% endblock %}