{% extends '@kohinos/block/block_collapse.html.twig' %}

{% block blocktitle %}
    <i class="fa fa-cogs me-4"></i> {{ 'Configuration du Groupe local'|trans }}
{% endblock blocktitle %}
{% block blocksubtitle %}
{% endblock blocksubtitle %}
{% block blockcontent %}
	{% if app.session.has('_groupegere') %}
	    {% set form = getGroupeInfosForm(app.user) %}
	    {{form_start(form)}}
	        {{ form_row(form.name) }}
	        {{ form_row(form.content) }}
	        {{ form_row(form.save) }}
	    {{form_end(form)}}
	{% else %}
		<span><em> {{ 'Aucun Groupe local assigné ! Veuillez contacter un administrateur !'|trans }} </em></span>
	{% endif %}
{% endblock blockcontent %}