{% extends '@kohinos/block/block_collapse.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-user-tie me-4"></i> {{ 'Modifier vos informations'|trans }}
{% endblock blocktitle %}
{% block blocksubtitle %}
{% endblock blocksubtitle %}
{% block blockcontent %}
	{% set form = getAdherentInfosForm(app.user) %}
	{{ form_start(form) }}
		{{ form_row(form.user) }}
		{{ form_row(form.geoloc) }}
		{# {{ form_row(form.groupe) }} #}
		{{ form_row(form.save) }}
	{{ form_end(form) }}
{% endblock blockcontent %}