{% extends '@kohinos/block/block_collapse.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-handshake me-4"></i> {{ getSolidoumeParam('name')|default('Sécurité Sociale Alimentaire') }}
{% endblock blocktitle %}
{% block blocksubtitle %}
{% endblock blocksubtitle %}
{% block blockcontent %}
	{% set item = getSolidoumeParticipation() %}
	{% if item == null %}
		<p>{{ getSolidoumeParam('description')|raw }}</p><br/>
		<a class='btn btn-primary' href='{{ path('solidoume_adherer') }}'>{{ "Participer"|trans }}</a>
	{% else %}
		<p>Vous participez déjà au programme {{ getSolidoumeParam('name') }}</p>
		<ul class="list-group mb-4">
		  <li class="list-group-item">
            {{ 'Montant de votre participation'|trans }}{{ item.isRecurrent?' mensuelle':'' }} : <b>{{item.amount}}</b> eMLC
          </li>
          <li class="list-group-item">
            {% if item.isRecurrent %}
              {% if item.isDonation %}
                {{ "Merci de votre donation tous les <b>%paiementDate%</b> du mois"|trans({'%paiementDate%': item.paiementDate})|raw }}
              {% else %}
                {{ "Jour de prélèvement"|trans }} : <b>{{item.paiementDate}}</b>
              {% endif %}
            {% else %}
              {{ "Prélevé immédiatement"|trans }}
            {% endif %}
          </li>
          {% if not item.isDonation %}
            <li class="list-group-item">
              {{ "La redistribution a lieu le <b>%executionDate%</b> de chaque mois"|trans({'%executionDate%': getSolidoumeParam('executionDate')})|raw }}
            </li>
          {% endif %}
        </ul>
		<a class='btn btn-primary' href='{{ path('solidoume_adherer') }}'>{{ "Modifier votre participation"|trans }}</a>
	{% endif %}
{% endblock blockcontent %}