{% extends '@kohinos/block/onetransaction.html.twig' %}

{# DISABLE ALL TRANSACTIONS IF USER HAS NO COTISATION VALID #}
{% block blocktoggle %}{% if isCotisationValid(app.user) %}collapse{% endif %}{% endblock blocktoggle %}

{% block blocktitle %}
	<i class="fa fa-exchange fa-exchange-alt me-4"></i> {{'Virement vers un prestataire'|trans }}
{% endblock blocktitle %}
{% block blockcontent %}
	{% if isCotisationValid(app.user) %}
		{% set form = getTransactionAdherentPrestataireForm(app.user) %}
		{{ parent() }}
	{% endif %}
{% endblock blockcontent %}