{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}
{% block javascripts %}
{{ parent() }}

{% if app.request.get('_route') == 'admin_app_user_edit' or app.request.get('_route') == 'admin_app_user_create' %}
    <script>
    $(function () {
        $("input[name='{{ admin.uniqid }}[groups][]']").each(function () {
            $(this).on('ifChecked', function(event){
                if ($.trim($(this).closest('label').text()) == 'Gestionnaire de Groupe') {
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_groupesgeres label.hide').removeClass('hide');
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_groupesgeres div.select2-container').removeClass('hide');
                } else if ($.trim($(this).closest('label').text()) == 'Contact') {
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_groupecontactsgeres label.hide').removeClass('hide');
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_groupecontactsgeres div.select2-container').removeClass('hide');
                } else if ($.trim($(this).closest('label').text()) == 'Trésorier') {
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_groupetresoriersgeres label.hide').removeClass('hide');
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_groupetresoriersgeres div.select2-container').removeClass('hide');
                } else if ($.trim($(this).closest('label').text()) == 'Comptoir') {
                    console.log('Comptoir');
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_comptoirsgeres label.hide').removeClass('hide');
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_comptoirsgeres div.select2-container').removeClass('hide');
                }
            });
            $(this).on('ifUnchecked', function(event){
                if ($.trim($(this).closest('label').text()) == 'Gestionnaire de Groupe') {
                    $('#{{ admin.uniqid }}_groupesgere').select2('val',[]);
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_groupesgeres label.control-label').addClass('hide');
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_groupesgeres div.select2-container').addClass('hide');
                 } else if ($.trim($(this).closest('label').text()) == 'Contact') {
                    $('#{{ admin.uniqid }}_groupesgere').select2('val',[]);
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_groupecontactsgeres label.control-label').addClass('hide');
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_groupecontactsgeres div.select2-container').addClass('hide');
                } else if ($.trim($(this).closest('label').text()) == 'Trésorier') {
                    $('#{{ admin.uniqid }}_groupetresoriersgere').select2('val',[]);
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_groupetresoriersgeres label.control-label').addClass('hide');
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_groupetresoriersgeres div.select2-container').addClass('hide');
                } else if ($.trim($(this).closest('label').text()) == 'Comptoir') {
                    $('#{{ admin.uniqid }}_comptoirsgere').select2('val',[]);
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_comptoirsgeres label.control-label').addClass('hide');
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_comptoirsgeres div.select2-container').addClass('hide');
                }
            });
        });
    });
    </script>
{% endif %}
{% endblock %}
