{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<li>
    <a class="sonata-action-element" href="{{ admin.getRouteShowMap }}">
        <i class="fa fa-map"></i> {{ 'Voir sur la carte'|trans() }}
    </a>
</li>
