{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if not object.reconverti %}
    <a class="sonata-action-element btn btn-sm btn-primary validateAchatMonnaie" data-url="{{path('validate_achat_monnaie', {'id': object.id})}}" data-moyen="{{ object.moyen }}" data-montant="{{ object.montant }}" data-reference="{{ object.reference }}" data-destinataire="{{ object.destinataire }}" data-type="{{ (object.type == 'demande_achat_monnaie_adherent' ? 'Adhérent' : 'Prestataire' )}}" href="#">
        <i class="fa fa-check"></i> {{ "Valider l'achat de monnaie"|trans() }}
    </a>
{% else %}
	<a href='#' disabled='disabled' class='sonata-action-element btn btn-sm btn-secondary disabled'>
		<i class="fa fa-check"></i> Validée !
	</a>
{% endif %}