{# MLC : Overwrite fos user template for login #}
{% set userlogintitle = 'Se connecter'|trans %}
{% extends "@kohinos/bundles/FOSUserBundle/layout.html.twig" %}

{% block fos_user_content %}
    {% include '@kohinos/common/login.html.twig' %}
{% endblock %}
