{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% apply spaceless %}
        {% set datas = getSolidoumeRedistributions(object.adherent) %}
        {% for data in datas|slice(0, 3) %}
            {{ data.montant}}€ ({{ data.createdAt|date('d/m') }})<br/>
        {% endfor %}
    {% endapply %}
{% endblock %}
