{% if false != isCotisationValidForPresta(object) and object.users|length == 1 and object.users[0].adherent is not null and false == isCotisationValidForAdherent(object.users[0].adherent) %}
    <a class="btn btn-sm btn-default view_link" onclick="return confirm('Êtes-vous sûr de vouloir ajouter une cotisation gratuite au manager de ce prestataire ?')" href="{{ admin.generateObjectUrl('addfreecotisationadh', object) }}"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter cotisation gratuite à l'adh.</a>
{% endif %}