{% if false == isCotisationValidForPresta(object) %}
    <a class="btn btn-sm btn-default view_link" onclick="return confirm('Êtes-vous sûr de vouloir ajouter une cotisation gratuite à ce prestataire ?')" href="{{ admin.generateObjectUrl('addfreecotisationpresta', object) }}"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter cotisation gratuite au presta</a>
{% endif %}