{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasAccess('show', object) and admin.hasRoute('show') %}
    <a
        href="{{ admin.getRouteShowOnFront(object) }}"
        target='_blank' 
        rel="noopener noreferrer"
        class="btn btn-sm btn-default view_link"
        title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}"
    >
        <i class="fa fa-eye" aria-hidden="true"></i>
        {{ 'action_show'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}
