{% extends admin.getTemplate('base_list_field') %}
{% block field %}
    {% apply spaceless %}
        {% if object.lastMonthPayed is not null %}
            {{ object.paiementDate }}/{{ object.lastMonthPayed|slice(4, 2) }}/{{ object.lastMonthPayed|slice(0, 4) }}
        {% endif %}
    {% endapply %}
{% endblock %}
