{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {% apply spaceless %}
        {% set datas = getSolidoumeRedistributions(object.adherent) %}
        {% for data in datas %}
            {{ data.montant}}€ ({{ data.createdAt|date('d/m/Y H:i') }})<br/>
        {% endfor %}
    {% endapply %}
{% endblock %}
