{% extends '@kohinos/bundles/SonataAdminBundle/CRUD/list.html.twig' %}

{% block list_header %}
	{{ parent() }}
	<div class="box-footer">
        <div class="form-inline clearfix">
        	{% set datas = getSolidoumeDatas() %}
        	{% if null != datas %}
           		{{ datas.countParticipants }} participant(s), {{ datas.countDonateurs }} donateur(s) pour un total de {{ datas.total }}€ ce qui ferait <b>{{ datas.totalByParticipantWithCommission }}€ par participant(s)</b> (commission de {{datas.commission}}%)
        	{% endif %}
        </div>
    </div>
{% endblock %}