{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container faqlist mt-2 container-fluid'>
	{% include '@kohinos/block/breadcrumb.html.twig' with {'label' : 'FAQ'} %}
    <h1 class='pagetitle'>{{ 'Foire Aux Questions'|trans }}</h1>
    <div class="row">
	    {% for faq in faqs %}
	       <div class='col-12 col-md-6'>
	       		{% include '@kohinos/faq/onefaq.html.twig' %}
	       </div>
	    {% endfor %}
	</div>
</div>
{% endblock %}
