<div class="card mb-2">
	<div class="card-header" style='cursor:pointer;'>
		<h2>
			<a href='{{ path('show_faq', {'slug': faq.slug}) }}'>{{faq.name}}</a>
		</h2>
	</div>
	<div class="card-body">
		{% if faq.fichier != null %}
			<h6 class="card-title text-muted mb-3"><a href="{% path faq.fichier, 'reference' %}">{{'Télécharger'|trans}}</a></h6>
		{% endif %}
		<div class="card-text">
			{% if faq.image != null %}
				{% thumbnail faq.image, 'medium' %} <br/>
			{% endif %}
    		{{faq.content|raw}}
    	</div>
    </div>
</div>