{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container faqshow mt-2'>
  {% include '@kohinos/block/breadcrumb.html.twig' with {'label': faq.name, 'label2': 'FAQ', 'url2': path('faq') } %}
  <h1>{{faq.name}}</h1>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <div class="contentnews p-4 mt-5">
      <p>
      	{{faq.content|raw}}
      </p>
      {% if faq.fichier is not null %}
      	<a href="{% path faq.fichier, 'reference' %}">{{ 'Voir le fichier'|trans }}</a>
      {% endif %}
      {% if faq.image is not null %}
      	{% thumbnail faq.image, 'small' with {'class': 'myclass'} %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
