{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container groupeshow mt-2' style='max-width:800px;'>
    {% include '@kohinos/block/breadcrumb.html.twig' with {'label' : (form.vars.value.type~'_title')|trans({}, 'flux')} %}
	<h4>{{ (form.vars.value.type~'_title')|trans({}, 'flux') }} :</h4>
    {{form_start(form)}}
        {{ form_errors(form) }}

        {% if form.montantradio is defined %}
            {{ form_row(form.montantradio, {attr: {class: 'custom-control custom-radio custom-control-inline kohinos-montant-radio'} }) }}
        {% endif %}
        {% if form.montant is defined %}
            {{ form_row(form.montant) }}
        {% endif %}
        {% if form.montantslider is defined %}
            {{ form_row(form.montantslider) }}
        {% endif %}

        <br/>
        <p><b>{{ 'Montant choisi'|trans }} : <span class="achat_monnaie_montant_choisi"></span></b></p>
        <hr/>
        {% if form.don is defined %}
            {{ form_row(form.don, {row_attr:{style: 'max-width: 200px;margin: 0 auto;'}}) }}
            <hr/>
        {% endif %}
        <p><b>{{ 'TOTAL A PAYER'|trans }} : <span class="achat_monnaie_montant_total"></span></b></p>

        {% if form.save is defined %}
            {{ form_widget(form.save)  }}
        {% endif %}
        {% if form.saveHelloAsso is defined %}
            {{ form_widget(form.saveHelloAsso)  }}
        {% endif %}
        {% if form.payOther is defined %}
            {{ form_widget(form.payOther, {attr: {class: 'btn-secondary'}}) }}
        {% endif %}

    {{form_end(form)}}
</div>
{% endblock %}
