{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container demandeachatmonnaieform mt-5 mb-5' style='max-width:800px;'>
	<h4>{{ (form.vars.value.type~'_title')|trans({}, 'flux') }} :</h4>
    {% include '@kohinos/flux/block/demande_achat_monnaie.html.twig' %}
</div>
{% endblock %}
