{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container groupeshow mt-2' style='max-width:800px;'>
    {% include '@kohinos/block/breadcrumb.html.twig' with {'label' : (form.vars.value.type~'_title')|trans({}, 'flux')} %}
	<h4>{{ (form.vars.value.type~'_title')|trans({}, 'flux') }} :</h4>
    {{ form_start(form) }}
        {{ form_row(form.expediteur) }}
        {{ form_row(form.destinataire) }}
        {{ form_row(form.montant) }}
        {% if form.moyen is defined %}
            {{ form_row(form.moyen) }}
        {% endif %}
        {{ form_row(form.reference) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>
{% endblock %}
