{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container groupeshow mt-5 mb-5' style='max-width:800px;'>
	<h4>{{ title }} :</h4>
    {{ form_start(form) }}
	    {% if form.compte is defined %}
	    	{{ form_row(form.compte) }}
		{% endif %}
	    {% if form.save is defined %}
	    	{{ form_row(form.save) }}
	    {% endif %}
	{{ form_end(form) }}
</div>
{% endblock %}
