{% extends '@kohinos/block/block_collapse.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-euro fa-euro-sign me-4"></i> Impression / Destruction de billets
{% endblock blocktitle %}
{% block blocksubtitle %}
{% endblock blocksubtitle %}
{% block blockcontent %}
	{% set siege = getSiege() %}
	<div class="card mb-3">
		<div class="card-body py-4"><u>{{ 'Billets au siège'|trans }}</u> : <b class='text-primary' style='font-size: 1.2rem;'>{{ siege.mlcAccount.balance }}</b></div>
	</div>
	<h5 class='text-primary'>{{ 'Impression de billets'|trans }}</h5>
	{% set form = getTicketFixPrintForm(app.user) %}
	{{ form_start(form) }}
	    {{ form_row(form.expediteur) }}
	    {{ form_row(form.destinataire) }}
	    {{ form_row(form.moyen) }}
	    {{ form_row(form.montant) }}
	    {{ form_row(form.reference) }}
	    {{ form_row(form.save) }}
	{{ form_end(form) }}
	<hr/>
	<hr/>
	<h5 class='text-primary'>{{ 'Destruction de billets'|trans }}</h5>
	{% set formDestroy = getTicketFixDestroyForm(app.user) %}
	{{ form_start(formDestroy) }}
	    {{ form_row(formDestroy.expediteur) }}
	    {{ form_row(formDestroy.destinataire) }}
	    {{ form_row(formDestroy.moyen) }}
	    {{ form_row(formDestroy.montant) }}
	    {{ form_row(formDestroy.reference) }}
	    {{ form_row(formDestroy.save) }}
	{{ form_end(formDestroy) }}

{% endblock blockcontent %}