{% extends '@kohinos/block/onetransaction.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-exchange fa-exchange-alt me-4"></i> {{ 'Transfert à un groupe'|trans }}
{% endblock blocktitle %}
{% block blockcontent %}
	{% set form = getTransfertSiegeGroupeForm(app.user) %}
	{{ parent() }}
{% endblock blockcontent %}