{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field%}
{% if value is not null and value.file is not null %}
    {# <img src="{{ vich_uploader_asset(value, 'file') }}" alt="" style="max-height: 50px; max-width: 50px;" /> #}
    {% thumbnail value.file, 'small' %}
{% endif %}
{% endblock %}