{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field%}
    {# <img src="{{ vich_uploader_asset(object, 'file') }}" alt="" style="max-height: 50px; max-width: 50px;" /> #}
    {% if object.image is defined %}
    	{% thumbnail object.image, 'small' %}
    {% elseif object.media is defined %}
    	{% thumbnail object.media, 'preview' %}
    {% endif %}
{% endblock %}