{{ form_start(form) }}
    {{ form_row(form.expediteur) }}
    {{ form_row(form.destinataire) }}
    {{ form_row(form.moyen) }}
    <p id='demande_achat_text_cheque' class='demande_achat_text' style="display: none;">
        {{ 'demande_achat_text_cheque'|trans({'%ordre%': KOH_CHECK_ORDER, '%adresse%' : KOH_CHECK_ADDRESS}, 'flux')|raw }}
    </p>
    <p id='demande_achat_text_virement' class='demande_achat_text' style="display: none;">
        {{ 'demande_achat_text_virement'|trans({'%iban%': KOH_IBAN_GUARANTY}, 'flux')|raw }}
    </p>
    {{ form_row(form.montant) }}
    {{ form_row(form.reference) }}
    <div class='text-center w-100'>
        {{ form_row(form.save) }}
        {% if hasDemandeAchatMonnaie(false) %}
            <a class='me-2 btn {{ hasDemandeAchatMonnaie(false) ? 'btn-warning' : 'btn-secondary disabled' }}' href='{{ path('listachatMonnaieAConfirmer') }}'>Voir les demandes {{ hasDemandeAchatMonnaie(false) ? '('~getDemandeAchatMonnaie(false)|length~' en attente)' }}</a>
        {% endif %}
    </div>
{{ form_end(form) }}