{% extends '@kohinos/email/email_layout.html.twig' %}

{% set title %}
{% apply spaceless %}
	{{ subject }}
{% endapply %}
{% endset %}

{% block content %}
	<h2 style="font-size: 18px; color: #111111; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: bold; line-height: 1.2em; margin: 40px 0 10px;">{{ 'Valider la création de votre compte'|trans }}</h2><br/>
	<p>
		{{ 'Un administreur a crée votre nouveau compte'|trans }}
		{{ user.name|title }}
	</p>
	<p>
		{{ 'Pour valider votre nouveau compte, cliquez sur ce lien : '|trans }}<br/>
		<a href='{{confirmationUrl}}'>{{confirmationUrl}}</a>
	</p>

{% endblock %}