{% extends '@kohinos/email/email_layout.html.twig' %}

% set title %}
{% apply spaceless %}
	{{ subject }}
{% endapply %}
{% endset %}
{% block content %}
	<h2 style="font-size: 18px; color: #111111; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: bold; line-height: 1.2em; margin: 40px 0 10px;">{{ 'Valider la création de votre compte'|trans }}</h2><br/>
	<p>
		{{ KOH_MLC_NAME|default('') }} {{ 'Un administreur a crée votre nouveau compte caissier du prestataire : '|trans }}
		{{ presta.raison }}
		{{ 'Vous avez également accès à un compte adhérent avec la même adresse email'|trans }}
	</p>
	<p>
		{{ 'Pour valider votre nouveau compte, cliquez sur ce lien : '|trans }}<br/>
		<a href='{{confirmationUrl}}'>{{confirmationUrl}}</a>
	</p>

{% endblock %}