{% extends '@kohinos/email/email_layout.html.twig' %}

{% set title %}
{% apply spaceless %}
	{{ subject }}
{% endapply %}
{% endset %}

{% block content %}
	<h2 style="font-size: 18px; color: #111111; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: bold; line-height: 1.2em; margin: 40px 0 10px;">{{ 'Formulaire de contact'|trans }}</h2><br/>
	<p>
		{{ 'Nom : '|trans }} : {{name}}<br/>
		{{ 'Email : '|trans }} : {{from}}<br/>
		{{ 'Message : '|trans }}<br/>
		{{ message|nl2br }}
	</p>

{% endblock %}