{% extends '@kohinos/email/email_layout.html.twig' %}

{% set title %}{% spaceless %}
	{{ subject }}
{% endspaceless %}
{% endset %}

{% block content %}
	<h2 style="font-size: 18px; color: #111111; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: bold; line-height: 1.2em; margin: 40px 0 10px;">{{ 'Bonjour %name%,'|trans({'name': user.name}) }}</h2><br/>
	<p>
		{{ 'Votre cotisation arrive à expiration dans %ndDay% jours !'|trans({'%ndDay%': ndDay}) }}
	</p>
	<p>
		{{ 'Pour continuer à utiliser la monnaie numérique, veuillez vous connecter à votre nouveau compte.'|trans }}<br/>
		<a href='{{indexUrl}}'>{{indexUrl}}</a>
	</p>

{% endblock %}