<!DOCTYPE html>
<html lang="fr">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <style type="text/css">
    {% block css %}
    {% endblock css %}
  </style>
</head>

<body style="margin: 0; padding: 0;" bgcolor="#ffffff" align="center">
  <table style="padding: 20px;width: 100%;" bgcolor="#f6f6f6">
    <tr>
      <td></td>
      <td style="border: 1px solid #f0f0f0;clear: both !important;display: block !important;Margin: 0 auto !important;max-width: 600px !important;padding: 20px;" bgcolor="#FFFFFF">

        <!-- content -->
        <div style="display: block; margin: 0 auto; max-width: 600px;">
        <table style="width: 100%;">
          
          <tr>
            <td>
            {% block main %}
              {% block logo %}
                <a class="navbar-brand" href="{{ absolute_url(path('index')) }}">
                  <img src="{{ absolute_url(path('index')) }}/images/logo.png" height="45" class="d-inline-block align-top" alt="{{ KOH_MLC_NAME|default('') }}">
                </a>
              {% endblock logo %}
              {% block title%}
              <h2 style="font-size: 18px; color: #3c8dbc; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: bold; line-height: 1.2em; margin: 40px 0 10px;">
                {{title}}
              </h2>
              {% endblock title%}
              <br/>
              {% block content %}
              
              {% endblock content %}
    
              {% block footer%}
              {# <p>{{ KOH_MLC_NAME }}</p> #}
              {% endblock footer%}
            {% endblock main %}
            </td>
          </tr>
          
        </table>
        </div>
        <!-- /content -->
        
      </td>
      <td></td>
    </tr>
</table>
<a href='http://www.kohinos.com' target='_blank' rel='noopener noreferrer'>Kohinos</a> <a href='https://www.gnu.org/licenses/agpl-3.0.fr.html' target='_blank' rel='noopener noreferrer' style='color:grey;'>(Licence AGPL v3)</a> <span class='appversion'> - v{{ shivas_app_version }}</span>
</body>
</html>