{% extends '@kohinos/email/email_layout.html.twig' %}

{% set title %}
{% apply spaceless %}
	{{ subject }}
{% endapply %}
{% endset %}

{% block content %}
	<h2 style="font-size: 18px; color: #111111; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: bold; line-height: 1.2em; margin: 40px 0 10px;">{{ user.name|title }}</h2><br/>
	<h3>
		{% if flux.type == 'reconversion' %}
			{{ 'Demande de reconversion' }}
		{% else %}
			{{ flux.parenttype|capitalize }} : {{ flux.type|replace({'_' : ' => '}) }}
		{% endif %}
	</h3>
	<p>De {{ flux.expediteur }} à {{ flux.destinataire }}</p>
	<p>Montant de {{ flux.montant|number_format(2) }} (Moyen : {{ flux.moyen }})</p>
	<p>Référence : {{ flux.reference }}</p>
	{# <p>Opérateur : {{ flux.operateur.name }}</p> #}
{% endblock %}