{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container prestalist mt-2'>
	{% include '@kohinos/block/breadcrumb.html.twig' with {'label' : 'Carte des prestataires'} %}
	<div class='card'>
		<div class="card-header"><h3>{{ 'Carte des prestataires :'|trans }}</h3></div>
		<div class="card-body">
			<div class="card-text">
				{% include '@kohinos/presta/block/carte.html.twig' with {style:"height: 400px;"} %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
{% include '@kohinos/presta/block/cartejs.html.twig' %}
{% endblock %}
