{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container prestalist mt-2'>
	{% include '@kohinos/block/breadcrumb.html.twig' with {'label' : type, 'label2': 'Prestataires', 'url2': path('liste_prestataire', {'order': 'groupelocal'}) } %}
	{% if type == 'Prestataires' %}
	   	<div class="d-flex justify-content-center">
		   	<div class="btn-group text-center mb-2" role="group" aria-label="Basic example">
				<a href='#' type="button" class="btn btn-primary">Par nom</a>
				<a href='{{ path('liste_prestataire', {'order': 'groupelocal'}) }}' type="button" class="btn btn-secondary">Par groupe local</a>
			</div>
		</div>
	{% else %}
		<h1 class='text-primary mb-4'>{{ type }}</h1>
	{% endif %}
    <div class="row">
    {% for presta in prestas %}
	    <div class="col-12 col-md-6 mb-2">
	    	{% include '@kohinos/presta/onepresta.html.twig' %}
		</div>
		{% if loop.index%2 == 0 %}
			</div>
			<div class="row">
		{% endif %}
    {% endfor %}
	</div>
</div>
{% endblock %}
