{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container newslist mt-2'>
	{% include '@kohinos/block/breadcrumb.html.twig' with {'label': rubrique.name, 'label2': 'Rubriques', 'url2': path('rubriques_prestataire') } %}
  	<h1 class='text-primary'>
	  	{% if rubrique.media is not null %}
			<span style='width:100px;'>{% thumbnail rubrique.media, 'small' %}</span>
		{% endif %} {{rubrique.name}}
	</h1>
  	<div class="my-3 p-3 bg-white rounded box-shadow">
		<p>{{rubrique.content|raw}}</p>
		<h3>{{ 'Prestataires'|trans }} : </h3>
		{% for presta in prestataires %}
			<div class='my-2'>
				{% include '@kohinos/presta/onepresta.html.twig' with { 'withrubrique': false} %}
			</div>
	    {% endfor %}
	</div>
</div>
{% endblock %}
