{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container' style='max-width:800px;'>
	<div class='text-center mb-5 mt-2'>
		<h4 class='mt-3'><b>{{'Adhérer'|trans }}</b></h4>
	</div>
	{% if KOH_USE_PAYZEN == 'true' or KOH_USE_HELLOASSO == 'true' %}
		<p>
		{% if KOH_ADHESION_TEXT|default('') != '' %}
			{{ KOH_ADHESION_TEXT }}
		{% endif %}
		</p>
		{{form_start(form)}}
			{{ form_row(form.user) }}
			{% if form.groupe is defined %}
				{{ form_row(form.groupe) }}
			{% endif %}
			{{ form_row(form.geoloc) }}
			{{ form_row(form.cotisation) }}
			<div class='text-center mb-5 mt-2'>
				{% if form.save is defined %}
					{{ form_widget(form.save) }}
				{% endif %}
				{% if form.saveHelloAsso is defined %}
					{{ form_widget(form.saveHelloAsso) }}
				{% endif %}
			</div>
		{{form_end(form)}}
	{% else %}
		<div class='text-center mb-5 mt-2'>
			<p><i>Vous ne pouvez malheureusement pas adhérer ici, le paiement n'est pas configuré sur cette application.</i></p>
		</div>
	{% endif %}
</div>
{% endblock %}
